@model FormBot.Entity.FormBotReport
@{
    Layout = null;
}
<input type="hidden" name="RAMBit" value="10" id="RAMBit" />
<input type="hidden" name="minRAM" value="1" id="minRAM" />

<div class="row malti-list">
    <div class="col-sm-5 ">
        <div class="form-group">
            <div class="col-md-6 col-sm-6 " style="width:100%;padding:0;">
                @Html.ListBoxFor(m => m.LstRAM, new MultiSelectList(Model.LstRAMUsers, "Value", "Text"), new { id = "LstRAM", @class = "form-control", style = "padding:0px;height: 400px;", @tabindex = 2 })
            </div>
        </div>
    </div>
    <div class=" col-sm-2 tra-btn">
        <div class="form-group">
            <a id="btnLtoR_RAM" href="javascript:void(0);" class="linkbutton">
                <input type="button" value=">>" class="btn btn-info primary" tabindex="3" />
            </a>
            <a id="btnRtoL_RAM" href="javascript:void(0);" class="linkbutton">
                <input type="button" value="<<" class="btn btn-info primary" tabindex="4" />
            </a>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <div class="col-md-6 col-sm-6 custinput" style="width: 100%;padding: 0;">
                @Html.ListBoxFor(m => m.FormBotRAMAssignedUser, new MultiSelectList(Model.LstRAMAssignedUser, "Value", "Text"), new { id = "LstRAMAssignedUser", @class = "form-control", style = "padding:0px;height: 400px;", @tabindex = 5 })
                @Html.HiddenFor(m => m.hdnFormBotRAMAssignedUser, new { id = "hdnRAM" })
            </div>
        </div>
    </div>
</div>
<div class="form-group defaultFormBot tab_bottomrow">
    <input type="button" name="SaveMapping" value="Save" autofocus class="primary save_ic" id="btnRAMSave" tabindex="6">
    <div class="default btn icon-btn">
        <span class="sprite-img reset_ic"></span>
        <input type="button" value="Clear" id="btnClearRAM" class="" tabindex="7">
        </div>
    </div>

<script type="text/javascript">

    $(document).on("click", "#btnLtoR_RAM", function () {
        if (parseInt($('#RAMBit').val()) == 0) {
            $('#LstRAM option:selected').each(function () {
                $(this).remove().appendTo("#LstRAMAssignedUser");
            });
            $('#AvailableRAM').html($('#LstRAMAssignedUser option').length);
        }
        else {
            var SCA_Acc = (($('#LstRAM option:selected').length + $('#LstRAMAssignedUser option').length) <= parseInt($('#RAMBit').val()));
            if (SCA_Acc) {
                var LstSCA_Acc = $('#LstRAMAssignedUser option').length < parseInt($('#RAMBit').val());
                if (LstSCA_Acc) {
                    $('#LstRAM option:selected').each(function () {
                        $(this).remove().appendTo("#LstRAMAssignedUser");
                    });
                    var max = $('#RAMBit').val();
                    $('#AvailableRAM').html($('#LstRAMAssignedUser option').length + '/' + max);
                }
                if (($('#LstRAMAssignedUser option').length == parseInt($('#RAMBit').val()))) {
                    $('#btnLtoR_RAM').css('opacity', '0.5');
                    $('#btnLtoR_RAM').css('cursor', 'auto');
                }
                else {
                    $('#btnLtoR_RAM').css('opacity', '1');
                    $('#btnLtoR_RAM').css('cursor', 'poiter');
                }
            }
        }
    });

    $(document).on("click", "#btnRtoL_RAM", function () {
        $('#LstRAMAssignedUser option:selected').each(function () {
            $(this).remove().appendTo("#LstRAM");
        });
        var max = $('#RAMBit').val();
        if (max > 0) {
            $('#AvailableRAM').html($('#LstRAMAssignedUser option').length + '/' + max);
        } else {
            $('#AvailableRAM').html($('#LstRAMAssignedUser option').length);
        }
        if (($('#LstRAMAssignedUser option').length < parseInt($('#RAMBit').val()))) {
            $('#btnLtoR_RAM').css('opacity', '1');
            $('#btnLtoR_RAM').css('cursor', 'poiter');
        }
        else {
            $('#btnLtoR_RAM').css('opacity', '0.5');
            $('#btnLtoR_RAM').css('cursor', 'auto');
        }
    });

    //$(document).on("click", "#closeRAM", function () {
    //    $('#popupRAM').modal('hide');
    //    $('#cntRAM').html($('#LstRAMAssignedUser option').length);
    //    disableSC();
    //    disableReseller();
    //});

    $(document).on("click", "#btnRAMSave", function () {
        var strAssignedAttendeeList = [];
        $('#LstRAMAssignedUser option').each(function (i) {
            strAssignedAttendeeList.push($(this).val().trim());
        });
        if ($('#minRAM').val() > 0) {
            document.getElementById('btnJobStatusBarReport').style.pointerEvents = 'auto';
            $('#btnJobStatusBarReport').css('opacity', '1');
            $("#errorMsgRegion").hide();
        }
        if ($('#minRAM').val() > 0 && $('#LstRAMAssignedUser option').length == 0) {
            document.getElementById('btnJobStatusBarReport').style.pointerEvents = 'none';
            $('#btnJobStatusBarReport').css('opacity', '0.5');
        }
        if (($('#LstRAMAssignedUser option').length <= parseInt($('#RAMBit').val()))) {
            document.getElementById('btnJobStatusBarReport').style.pointerEvents = 'auto';
            $('#btnJobStatusBarReport').css('opacity', '1');
            $("#errorMsgRegion").hide();
        }
        if ($('#minRAM').val() == 1 && $('#LstRAMAssignedUser option').length == 0) {
            document.getElementById('btnJobStatusBarReport').style.pointerEvents = 'none';
            $('#btnJobStatusBarReport').css('opacity', '0.5');
        }
        $("#hdnRAM").val(strAssignedAttendeeList);
        $('#cntRAM').html($('#LstRAMAssignedUser option').length);
        $('#popupRAM').modal('hide');

        disableSC();

        if ($('#ReportID').val() == "6") {
            disableFCO();
            disableUsers();
            disableSCO();
            disableSSC();
            disableSE();
            disableSC();
        }
    });

    $(document).on("click", "#btnClearRAM", function () {
        $('#LstRAMAssignedUser option').each(function () {
            $(this).remove().appendTo("#LstRAM");
        });
        var max = $('#RAMBit').val();
        if (max > 0) {
            $('#AvailableRAM').html($('#LstRAMAssignedUser option').length + '/' + max);
        } else {
            $('#AvailableRAM').html($('#LstRAMAssignedUser option').length);
        }
        //if (($('#LstRAMAssignedUser option').length < parseInt($('#RAMBit').val()))) {
        //    $('#btnLtoR_RAM').css('opacity', '1');
        //    $('#btnLtoR_RAM').css('cursor', 'poiter');
        //}
        //else {
        //    $('#btnLtoR_RAM').css('opacity', '0.5');
        //    $('#btnLtoR_RAM').css('cursor', 'auto');
        //}
        $('#btnLtoR_RAM').css('opacity', '1');
        $('#btnLtoR_RAM').css('cursor', 'poiter');

        $("#hdnRAM").val('');

        if ($('#ReportID').val() == "6") {
            disableFCO();
            disableUsers();
            disableSCO();
            disableSSC();
            disableSE();
            disableSC();
        }
    });

    $(document).on("click", "#closeRAM", function () {
        var strAssignedAttendeeList = [];
        $('#LstRAMAssignedUser option').each(function (i) {
            strAssignedAttendeeList.push($(this).val().trim());
        });
        if ($('#minRAM').val() > 0) {
            document.getElementById('btnJobStatusBarReport').style.pointerEvents = 'auto';
            $('#btnJobStatusBarReport').css('opacity', '1');
            $("#errorMsgRegion").hide();
        }
        if ($('#minRAM').val() > 0 && $('#LstRAMAssignedUser option').length == 0) {
            document.getElementById('btnJobStatusBarReport').style.pointerEvents = 'none';
            $('#btnJobStatusBarReport').css('opacity', '0.5');
        }
        if (($('#LstRAMAssignedUser option').length <= parseInt($('#RAMBit').val()))) {
            document.getElementById('btnJobStatusBarReport').style.pointerEvents = 'auto';
            $('#btnJobStatusBarReport').css('opacity', '1');
            $("#errorMsgRegion").hide();
        }
        if ($('#minRAM').val() == 1 && $('#LstRAMAssignedUser option').length == 0) {
            document.getElementById('btnJobStatusBarReport').style.pointerEvents = 'none';
            $('#btnJobStatusBarReport').css('opacity', '0.5');
        }
        $("#hdnRAM").val(strAssignedAttendeeList);
        $('#cntRAM').html($('#LstRAMAssignedUser option').length);
        $('#popupRAM').modal('hide');

        disableSC();
        //disableReseller();
    });
</script>
<style>
    .malti-list .tra-btn {
        margin-top: 140px;
    }
</style>


