<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GreenBot</title>

    <!-- Bootstrap -->
    <link href="~/Content/NewLogin/bootstrap-4.4.1.css" rel="stylesheet">
    <link href="~/Content/NewLogin/loginPageStyle.css" rel="stylesheet" type="text/css">
    <link href="~/Content/Formbot.css" rel="stylesheet" />
</head>
<body>
    <header class="v-header container-fluid">
        <div class="banner">
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" poster="~/Images/NewLogin/greenbotBg2-min.jpg">
                <source src="~/Videos/SPV2lines.mp4" type="video/mp4">
            </video>
            <img class="imageOverlay" src="~/Images/NewLogin/greenbotBg2-min.jpg" alt="mobileOverlay">
        </div>

        <script src="~/Scripts/NewLogin/jquery-3.4.1.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="~/Scripts/NewLogin/popper.min.js"></script>
        <script src="~/Scripts/NewLogin/bootstrap-4.4.1.js"></script>

        @RenderBody()
        @RenderSection("scripts", required: false)
    </header>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   
</body>
</html>

