*.Cache
*.suo
*.user
bin/
obj/
TestResults/
ResultFiles/
*.orig
*.gz

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
/*.xml
FormBot.Main/JobDocuments/8/Invoice/4_Correspondence-Misc (1).pdf
.vs/FormBot/v15/sqlite3/storage.ide-wal
.vs/FormBot/v15/sqlite3/storage.ide-shm
.vs/FormBot/v15/sqlite3/db.lock
.vs/FormBot/v15/Server/sqlite3/storage.ide-wal
.vs/FormBot/v15/Server/sqlite3/storage.ide-shm
.vs/FormBot/v15/Server/sqlite3/storage.ide
.vs/FormBot/v15/Server/sqlite3/db.lock
.vs/FormBot/v17/fileList.bin
FormBot.Main/Logs/GreenBotLog.log02.06.2022
FormBot.Main/Logs/GreenBotLog.log03.06.2022
FormBot.Main/Logs/GreenBotLog.log08.06.2022
FormBot.Main/Logs/GreenBotLog.log09.06.2022
FormBot.Main/JobDocuments/13219/JobHistory/JobHistory_13219.xml
FormBot.Main/JobDocuments/13224/JobHistory/JobHistory_13224.xml
FormBot.Main/JobDocuments/13225/JobHistory/JobHistory_13225.xml
FormBot.Main/JobDocuments/13225/JobHistory/STCJobHistory_13225.xml
FormBot.Main/JobDocuments/13226/JobHistory/JobHistory_13226.xml
FormBot.Main/JobDocuments/13226/JobHistory/STCJobHistory_13226.xml
FormBot.Main/JobDocuments/13227/JobHistory/JobHistory_13227.xml
FormBot.Main/JobDocuments/13227/JobHistory/STCJobHistory_13227.xml
FormBot.Main/JobDocuments/13228/JobHistory/JobHistory_13228.xml
FormBot.Main/JobDocuments/13228/JobHistory/STCJobHistory_13228.xml
FormBot.Main/JobDocuments/13229/JobHistory/JobHistory_13229.xml
FormBot.Main/JobDocuments/13229/JobHistory/STCJobHistory_13229.xml
FormBot.Main/Logs/GreenBotLog.log10.06.2022
FormBot.Main/Logs/GreenBotLog.log14.06.2022
FormBot.Main/Logs/GreenBotLog.log15.06.2022
