



/********* Sandip tabbing css 17-May-2016 **************/

/***** select style for 17-May-2016 ********/
.right_select{ float:right; padding:0px; margin-top:-8px;}
.right_select label{font-family: 'OpenSansRegular'; font-size:13px; color:#494949; font-weight:normal;}
.right_select .select{ font-size: 13px;height: 32px; padding: 4px;  border: 1px solid #d8dadd; min-width:200px;}
.right_select .select:focus{border-color: #adadad; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 8px rgba(184, 199, 210, 0.3); outline: 0 none;}



.tab_bottomrow{ border-top:1px solid #d7d7d7; padding:12px 0 0 0px; margin:16px 0px 0px 0px; overflow:hidden; text-align:right;}
.tab_bottomrow a{ margin-left:5px;}
.tab_bottomrow a:hover, .tab_bottomrow a:focus{ background-color:#d2d2d2; text-decoration:none;}
.tab_bottomrow .prev_btn{ display:inline-block; padding:8px 16px 8px 26px; background:#d8d8d8 url(../images/tab-prev.png) no-repeat left;
border-radius:4px; -webkit-border-radius:4px; color:#393939; font-size:14px;}
.tab_bottomrow .next_btn{ display:inline-block; padding:8px 26px 8px 18px; background:#d8d8d8 url(../images/tab-nxt.png) no-repeat right;
border-radius:4px; -webkit-border-radius:4px; color:#393939; font-size:14px;}

#blue .resp-tab-active{background-color:#013f67;}
#blue ul.resp-tabs-list{ border-color:#013f67;}
#blue h2.resp-accordion{background-color:#013f67; border-color:#2f5e7c;}

#pink .resp-tab-active{background-color:#da3f52;}
#pink ul.resp-tabs-list{ border-color:#da3f52;}
#pink h2.resp-accordion{background-color:#da3f52; border-color:#e56171;}

#skyblue .resp-tab-active{background-color:#276cab;}
#skyblue ul.resp-tabs-list{ border-color:#276cab;}
#skyblue h2.resp-accordion{background-color:#276cab; border-color:#5c8ab5;}

#yellow .resp-tab-active{background-color:#d99000;}
#yellow ul.resp-tabs-list{ border-color:#d99000;}
#yellow h2.resp-accordion{background-color:#d99000; border-color:#e0b45d;}

#black .resp-tab-active{background-color:#2b2b2b;}
#black ul.resp-tabs-list{ border-color:#2b2b2b;}
#black h2.resp-accordion{background-color:#2b2b2b; border-color:#565656;}

/********* Sandip tabbing css 17-May-2016 **************/




ul.resp-tabs-list {
    margin: 0px 0;
    padding: 0px;
}

ul.resp-tabs-list{ margin:25px 0px 0px 0px; overflow:hidden; background:#f2f2f2 ; border:none; border-bottom:3px solid #1d9f4e; }

.resp-tabs-list li {
	font-weight:normal;
    font-size: 14px;
	color:#474747;
    display: inline-block;
    padding: 9px 18px 9px 18px;
    margin: 0 1px 0 0;
    list-style: none;
    cursor: pointer;
    float: left;
}

.resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    clear: left;
	margin-bottom:30px;
}

h2.resp-accordion {
    cursor: pointer;
    padding: 5px;
    display: none;
}

.resp-tab-content {
    display: none;
    padding: 14px 0;
}

/*.resp-tab-active {
    border:0;
    border-bottom: none;
    margin-bottom: -1px !important;
    padding: 10px 16px 10px 16px;
	color:#fff;
	font-size:13px; 
	
}*/

.resp-tab-active {
    background:#1d9f4e;
	color:#fff !important;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-tab-content {
    /*border: 1px solid #d9d9d9;*/
	border-top:0;
}

h2.resp-accordion {
    font-size: 14px;
	font-weight:normal;
    border:0;
    margin: 0px;
	background:#1d9f4e;
	color:#fff;
    padding: 12px 16px;
	border-bottom:1px solid #4ebb79;
}

h2.resp-tab-active {
    margin-bottom: 0px !important;
     padding: 12px 16px !important;
	 background-color:#af7fc7;
}

h2.resp-tab-title:last-child {
    border-bottom: 12px solid #c1c1c1 !important;
    background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
}

.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 15px 15px !important;
    margin: 0;
    cursor: pointer;
    float: none;
}

.resp-vtabs .resp-tabs-container {
    padding: 0px;
    background-color: #fff;
    border: 1px solid #c1c1c1;
    float: left;
    width: 68%;
    min-height: 250px;
    border-radius: 4px;
    clear: none;
}

.resp-vtabs .resp-tab-content {
    border: none;
}

.resp-vtabs li.resp-tab-active {
    border: 1px solid #c1c1c1;
    border-right: none;
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-right: -1px !important;
    padding: 14px 15px 15px 14px !important;
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #fff;
}

h2.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #848484;
}

/*-----------Accordion styles-----------*/
h2.resp-tab-active {
    background: #e0e0e0 !important; color:#222 !important; border-bottom:0;
}
.resp-easy-accordion  h2.resp-accordion {
        display: block;
}
.resp-easy-accordion .resp-tab-content {
    border: 1px solid #c1c1c1;
}

.resp-easy-accordion .resp-tab-content:last-child {
    border-bottom: 1px solid #c1c1c1 !important;
}

.resp-jfit {
    width: 100%;
    margin: 0px;
}

.resp-tab-content-active {
    display: block;
}

h2.resp-accordion:first-child {
	
}



@media screen and (max-width: 992px) {
.resp-tabs-list li{padding: 9px 14px;}
}

/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 767px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }
	.resp-tabs-container{ margin-top:20px;}

    .resp-vtabs .resp-tab-content {
        border: 1px solid #C1C1C1;
    }

    .resp-vtabs .resp-tabs-container {
        border: none;
        float: none;
        width: 100%;
        min-height: initial;
        clear: none;
    }
    .resp-accordion-closed {
        display:none !important;
    }
    .resp-vtabs .resp-tab-content:last-child {
        border-bottom: 1px solid #c1c1c1 !important;
    }
	
	
	.right_select{ float:none; margin-top:10px; }
	.right_select .select{min-width:inherit; width:100%; box-sizing:border-box; -webkit-box-sizing:border-box; height:34px;}
	
	
}
