.js-snackbar-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    padding: 10px;
    overflow: hidden;
    z-index: 999;
    margin-bottom: 55px !important;
}

.js-snackbar-container--fixed {
    position: fixed;
}

.js-snackbar-container * {
    box-sizing: border-box;
}

.js-snackbar__wrapper {
    overflow: hidden;
    height: auto !important;
    margin: 5px 0;
    transition: all ease .5s;
    border-radius: 3px;
    box-shadow: 0 0 4px 0 black;
}

.js-snackbar {
    display: inline-flex;
    box-sizing: border-box;
    border-radius: 3px;
    color: #eee;
    font-size: 16px;
    background-color: #1b954c !important;
    vertical-align: bottom;
}

.js-snackbar__close,
.js-snackbar__status,
.js-snackbar__message {
    position: relative;
    height: 50px;
}

.js-snackbar__message {
    padding: 12px;
}

.js-snackbar__status {
    display: none;
    width: 15px;
    margin-right: 5px;
    border-radius: 3px 0 0 3px;
    background-color: transparent;
}

    .js-snackbar__status.js-snackbar--success,
    .js-snackbar__status.js-snackbar--warning,
    .js-snackbar__status.js-snackbar--danger,
    .js-snackbar__status.js-snackbar--info {
        display: block;
    }

    .js-snackbar__status.js-snackbar--success {
        background-color: #4caf50;
    }

    .js-snackbar__status.js-snackbar--warning {
        background-color: #ff9800;
    }

    .js-snackbar__status.js-snackbar--danger {
        background-color: #b90909;
    }

    .js-snackbar__status.js-snackbar--info {
        background-color: #2196f3;
    }

.js-snackbar__action {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #838cff;
    cursor: pointer;
}

    .js-snackbar__action:hover {
        background-color: #333;
    }

.js-snackbar__close {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 10px;
    user-select: none;
    color: #BBB;
}

    .js-snackbar__close:hover {
        background-color: #14773c;
    }


.js-snackbar {
    position: relative;
    display: table;
    width: 260px;
    padding: 5px 40px 5px 10px;
    min-height: 52px;
}

    .js-snackbar .js-snackbar_title {
        padding-bottom: 5px;
        height: auto;
        width: auto;
        font-size: 13px;
        font-weight: 700;
    }

    .js-snackbar .js-snackbar__message {
        font-size: 12px;
        font-weight: 400;
        display: block;
        padding: 0;
        height: auto;
        width: auto;
    }

    .js-snackbar .js-snackbar__close {
        position: absolute;
        top: 50%;
        right: 5px;
        display: block;
        padding: 4px 9px;
        height: auto;
        width: auto;
        border-radius: 30px;
        margin-top: -15px;
    }

.js-snackbar__close:hover {
    color: #fff;
}

.without-title .js-snackbar .js-snackbar__message {
    display: table-cell;
    vertical-align: middle;
}

.js-snackbar .js-snackbar__message a {
    font-weight: 700;
    color: #fff !important;
}
