@media (max-width: 1200px){
	body{font-size: 13px; line-height: 17px;}
}

@media (max-width: 991px){
	body{font-size: 12px; line-height: 16px;}	
}

@media (max-width: 767px){
	body{font-size: 11px; line-height: 15px;}	
}

@media (max-width: 560px){
	body{font-size: 10px; line-height: 14px;}	
}