#horizontalTab{ margin:18px 0px;}
.r-tabs { position: relative;  }
.r-tabs .r-tabs-nav .r-tabs-tab { position: relative;}
.r-tabs .r-tabs-nav .r-tabs-anchor { display: inline-block; padding:9px 20px 9px 20px; text-decoration: none; color: #717274; font-size:14px; font-family: 'OpenSansRegular'; font-weight:normal;}
.r-tabs .r-tabs-nav .r-tabs-state-disabled { opacity: 0.5; }
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {text-shadow: none; background:#414a4f; color:#e8ebee;}


.r-tabs .r-tabs-panel {/* background-color: white; */ }

.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled { opacity: 0.5;}

.r-tabs .r-tabs-nav { margin: 0; padding: 0; background:#e8ebee; width:100%; display:table; border-bottom:2px solid #c7cbce;}
.r-tabs .r-tabs-tab { display: block; float:left; margin:0 0 -2px 0; list-style: none; }
.r-tabs .r-tabs-panel {display: none; padding:20px 0px 0px 0px; }
.r-tabs .r-tabs-accordion-title { display: none; }
.r-tabs .r-tabs-panel.r-tabs-state-active { display: block; }

/* Accordion responsive breakpoint */
@media only screen and (max-width: 767px) {
 .r-tabs .r-tabs-nav {
 display: none;
}

.r-tabs .r-tabs-accordion-title .r-tabs-anchor { display: block; padding:9px 18px 9px 18px; background:#e8ebee; text-decoration:none; 
color:#717274; font-size:14px; font-family: 'OpenSansRegular'; font-weight:normal;  border-bottom:2px solid #c7cbce;}
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor { text-shadow: none; background:#414a4f; color:#e8ebee; border-bottom:0; }
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled { opacity: 0.5; }

.r-tabs .r-tabs-accordion-title .r-tabs-anchor{color: #717274; font-size:16px; font-family: 'OpenSansSemibold'; font-weight:normal;}
.r-tabs .r-tabs-accordion-title {
 display: block;
}
.r-tabs .r-tabs-panel{ border:none; padding:10px 0px 10px 0px;}
.r-tabs-accordion-title{ position:relative;}
.r-tabs-accordion-title span{ position:absolute; top:19px; right:13px; background:url(../images/bul-normal.png) 0px 0px no-repeat; width:13px; height:7px;}
.r-tabs-accordion-title.r-tabs-state-active span{ position:absolute; top:16px; right:13px; background:url(../images/bul-active.png) 0px 0px no-repeat; width:13px; height:7px;
}

}