
/* Theme  
--------------------------------------------------------------------------------------------------------*/
.btn-circle{border-radius:0px;float:left;margin:3px;}
.green{background-color:#1b954c;}
.blue{background-color:#013f67;}
.pink{background-color:#da3f52;}
.skyblue{background-color:#276cab;}
.yellow{background-color:#d99000;}
.black{background-color:#2b2b2b;}
.theme-colors{display:table;}
.theme-colors .active{background-image:url(../images/tick.png);background-repeat:no-repeat;background-position:center center;}
.theme-colors .btn{padding:0;width:24px;height:24px;margin:0 7px 0 0;display:inline-block;}

/* Green 
------------------------------------*/
#green.login-bg{background-image:url("../images/login-bg-green.jpg");background-repeat:no-repeat;background-size:cover;}
#green #header{background:rgba(0,0,0,0) url(../images/hed-green.jpg) repeat-x scroll 0 0;}
#green #header:before{background-image:url(../images/header-bg-green.jpg);}
#green #navigation{background-color:rgba(27,149,76,0.70);}
#green .message-collapse .panel-heading > a{border-color:#1b954c;}
#green .paging ul li a.active,#green .paging ul li a.active:hover,#green .primary{background-color:#1b954c;}
#green .primary:hover,#green .primary:focus{background-color:#14773c;}
#green .paging a.current{background-color:#1b954c;}
#green ul.menu li.hover a,#green ul.menu a:hover,#green ul.menu li.active a,#green ul.menu a.parent:hover,#green ul.menu li:hover a.parent,#green ul.menu li li a,#green .menu-toggle.active{background-color:#14773c;color:#fff;}
#green ul.menu li li a:hover{background-color:#1ea150;}
#green ul.menu > li, #green ul.menu > li:first-child, #green ul.menu a.navlink, #green ul.menu ul{border-color:#30b765;}
#green .settlement-contain-box .Processing-time li.active, #green .settlement-contain-box .Processing-time li:hover{background-color:#1ca04d; color:#fff;}
#green .settlement-contain-box .Processing-time li.active .price{color:#fff;}
#green .Processing-time .price{color:#1ca04d;}
#green .text{color:#1b954c;}
#green .chart-title:after {background-color: #1ca04d;}

/********************** ADD 12-09-16 ****************************/
#green .stc-amount-block ul li.active, #green .stc-amount-block ul li:hover, #green .stc-amount-block ul li:focus { background-color:#1b9b4e;  }
#green .stc-amount-block ul li .price {color: #1ca04d;}
#green .live-stc-price .stc-amount-block ul li.active span.price {color: #1ca04d !important;}
#green .color-text {color:#1ca04d;}
#green .border-btn {border-color:#1ca04d; color:#1ca04d;}
#green .border-btn:hover, #green .border-btn.active {background-color:#1ca04d;}

#green .account-manager-block .upload-profile .btn-file {background-color:#1ca04d;}
@media only screen and (max-width:992px){
    #green #navigation{background-color:#1ea150;}
    #green ul.menu > li:first-child,#green ul.menu a.navlink,#green ul.menu ul{border-color:#30b765;}
}

/* blue 
------------------------------------*/
#blue.login-bg{background-image:url("../images/login-bg-blue.jpg");background-repeat:no-repeat;background-size:cover;}
#blue #header{background:rgba(0,0,0,0) url(../images/hed-blue.jpg) repeat-x scroll 0 0;}
#blue #header:before{background-image:url(../images/header-bg-blue.jpg);}
#blue #navigation{background-color:rgba(1,63,103,0.70);}
#blue .message-collapse .panel-heading > a{border-color:#013f67;}
#blue .paging ul li a.active,#blue .paging ul li a.active:hover,#blue .primary{background-color:#013f67;}
#blue .primary:hover,#blue .primary:focus{background-color:#022e4a;}
#blue ul.menu li li a:hover{background-color:#0c4a73;}
#blue .send-msg-btn{background-color:#013f67;}
#blue .send-msg-btn:hover,#blue .send-msg-btn:focus{background-color:#286084;}
#blue ul.menu li.hover a,#blue ul.menu a:hover,#blue ul.menu li.active a,#blue ul.menu a.parent:hover,#blue ul.menu li:hover a.parent,#blue ul.menu li li a,#blue .menu-toggle.active{background-color:#022e4a;color:#fff;}
#blue ul.menu li li a:hover{background-color:#0c4a73;}
#blue ul.menu > li,#blue ul.menu > li:first-child,#blue ul.menu a.navlink,#blue ul.menu ul{border-color:#4e6e82;}
#blue .send-msg-btn{background-color:#013f67;}
#blue .send-msg-btn:hover,#blue .send-msg-btn:focus{background-color:#22648F;}
#blue .create-job-menu li a:hover,#blue .create-job-menu li a:focus,#blue .create-job-menu li.active a{background-color:#013f67;color:#fff;}
#blue .create-job-left-bar .sidebar-menu{border-top-color:#013f67;}
#blue .documents-block ul.resp-tabs-list li.resp-tab-active{border-bottom-color:#013f67;background:none;}
#blue .installation-title h5 > span{color:#013f67;}
#blue .Requirements-menu ul.navbar-nav{background-color:#013f67;}
#blue .Requirements-menu ul.navbar-nav > li > a:hover,#blue .newemail-modal ul.navbar-nav > li.open > a,#blue .btn-applied,#blue .btn-applied.collapsed:hover,#blue .btn-applied.collapsed:focus{background-color:#022e4a;}
#blue .Requirements-menu ul.navbar-nav > li{border-color:#4e6e82;}
#blue .settlement-contain-box .Processing-time li.active, #blue .settlement-contain-box .Processing-time li:hover{background-color:#013f67;color:#fff;}
#blue .settlement-contain-box .Processing-time li.active .price{color:#fff;}
#blue .text{color:#013f67;}
#blue .chart-title:after {background-color: #013f67;}
#blue .Processing-time .price {color:#013f67;}

/********************** ADD 12-09-16 ****************************/
#blue .stc-amount-block ul li.active, #blue .stc-amount-block ul li:hover, #blue .stc-amount-block ul li:focus { background-color:#013f67;  }
#blue .stc-amount-block ul li .price {color: #013f67;}
#blue .live-stc-price .stc-amount-block ul li.active span.price {color: #4e6e82 !important;}
#blue .color-text {color:#013f67;}
#blue .border-btn {border-color:#013f67; color:#013f67; }
#blue .border-btn:hover, #blue .border-btn.active  {background-color:#013f67; }

#blue .account-manager-block .upload-profile .btn-file {background-color:#013f67;}

@media only screen and (max-width:992px){
    #blue #navigation{background-color:#05456e;}
    #blue ul.menu > li:first-child,#blue ul.menu a.navlink,#blue ul.menu ul{border-color:#276186;}
}

@media screen and (max-width:767px){
    #blue .resp-tabs-container{margin-top:0px;}
    #blue .documents-block h2.resp-accordion{padding:10px 5px;background:none;border-color:#e7e7e7;color:#474747;}
    #blue .documents-inner-block .resp-tabs-container{border-top:0px;}
    #blue .documents-block h2.resp-tab-active{padding:10px 5px!important;background:none!important;border-bottom:1px solid #013f67!important;color:#474747;}
    #blue .documents-block .resp-arrow{display:none;}
}

/* pink 
------------------------------------*/
#pink.login-bg{background-image:url("../images/login-bg-pink.jpg");background-repeat:no-repeat;background-size:cover;}
#pink #header{background:rgba(0,0,0,0) url(../images/hed-pink.jpg) repeat-x scroll 0 0;}
#pink #header:before{background-image:url(../images/header-bg-pink.jpg);}
#pink #navigation{background-color:rgba(192,51,68,0.70);}
#pink .message-collapse .panel-heading > a{border-color:#da3f52;}
#pink .paging ul li a.active,#pink .paging ul li a.active:hover,#pink .primary{background-color:#da3f52;}
#pink .primary:hover,#pink .primary:focus{background-color:#972533;}
#pink .paging a.current{background-color:#da3f52;}
#pink .send-msg-btn{background-color:#da3f52;}
#pink .send-msg-btn:hover,#blue .send-msg-btn:focus{background-color:#D76D7A;}
#pink ul.menu li.hover a,#pink ul.menu a:hover,#pink ul.menu li.active a,#pink ul.menu a.parent:hover,#pink ul.menu li:hover a.parent,#pink ul.menu li li a,#pink .menu-toggle.active{background-color:#972533;color:#fff;}
#pink ul.menu li li a:hover{background-color:#ca3547;}
#pink ul.menu > li,#pink ul.menu > li:first-child,#pink ul.menu a.navlink,#pink ul.menu ul{border-color:#db818c;}
#pink .find_job_leftpanel{border-top-color:#da3f52;}
#pink .create-job-menu li a:hover,#pink .create-job-menu li a:focus,#pink .create-job-menu li.active a{background-color:#da3f52;color:#fff;}
#pink .create-job-left-bar .sidebar-menu{border-top-color:#da3f52;}
#pink .documents-block ul.resp-tabs-list li.resp-tab-active{border-bottom-color:#da3f52;background:none;}
#pink .installation-title h5 > span{color:#da3f52;}
#pink .Requirements-menu ul.navbar-nav{background-color:#da3f52;}
#pink .Requirements-menu ul.navbar-nav > li > a:hover,#pink .newemail-modal ul.navbar-nav > li.open > a,#pink .btn-applied,#pink .btn-applied.collapsed:hover,#pink .btn-applied.collapsed:focus{background-color:#972533;}
#pink .Requirements-menu ul.navbar-nav > li{border-color:#db818c;}
#pink .settlement-contain-box .Processing-time li.active, #pink .settlement-contain-box .Processing-time li:hover{background-color:#da3f52;color:#fff;}
#pink .settlement-contain-box .Processing-time li.active .price{color:#fff;}
#pink .Processing-time .price{color:#da3f52;}
#pink .text{color:#da3f52;}
#pink .chart-title:after {background-color: #da3f52;}

/********************** ADD 12-09-16 ****************************/
#pink .stc-amount-block ul li.active, #pink .stc-amount-block ul li:hover, #pink .stc-amount-block ul li:focus { background-color:#da3f52;  }
#pink .stc-amount-block ul li .price {color: #da3f52;}
#pink .live-stc-price .stc-amount-block ul li.active span.price {color: #da3f52 !important;}
#pink .color-text  {color:#da3f52;}
#pink .border-btn {border-color:#da3f52; color:#da3f52; }
#pink .border-btn:hover, #pink .border-btn.active {background-color:#da3f52; }


#pink .account-manager-block .upload-profile .btn-file {background-color:#da3f52;}

@media only screen and (max-width:992px){
    #pink #navigation{background-color:#c03344;}
    #pink ul.menu > li:first-child,#pink ul.menu a.navlink,#pink ul.menu ul{border-color:#C3626D;}
}

@media screen and (max-width:767px){
    #pink .resp-tabs-container{margin-top:0px;}
    #pink .documents-block h2.resp-accordion{padding:10px 5px;background:none;border-color:#e7e7e7;color:#474747;}
    #pink .documents-inner-block .resp-tabs-container{border-top:0px;}
    #pink .documents-block h2.resp-tab-active{padding:10px 5px!important;background:none!important;border-bottom:1px solid #da3f52!important;color:#474747;}
    #pink .documents-block .resp-arrow{display:none;}
}


/* skyblue 
------------------------------------*/
#skyblue.login-bg{background-image:url("../images/login-bg-skyblue.jpg");background-repeat:no-repeat;background-size:cover;}
#skyblue #header{background:rgba(0,0,0,0) url(../images/hed-skyblue.jpg) repeat-x scroll 0 0;}
#skyblue #header:before{background-image:url(../images/header-bg-skyblue.jpg);}
#skyblue #navigation{background-color:rgba(39,108,171,0.76);}
#skyblue .message-collapse .panel-heading > a{border-color:#276cab;}
#skyblue .paging ul li a.active,#skyblue .paging ul li a.active:hover,#skyblue .primary{background-color:#276cab;}
#skyblue .primary:hover,#skyblue .primary:focus{background-color:#1b568b;}
#skyblue .paging a.current{background-color:#276cab;}
#skyblue .send-msg-btn{background-color:#276cab;}
#skyblue .send-msg-btn:hover,#blue .send-msg-btn:focus{background-color:#508EC6;}
#skyblue ul.menu li.hover a,#skyblue ul.menu a:hover,#skyblue ul.menu li.active a,#skyblue ul.menu a.parent:hover,#skyblue ul.menu li:hover a.parent,#skyblue ul.menu li li a,#skyblue .menu-toggle.active{background-color:#1b568b;color:#fff;}
#skyblue ul.menu li li a:hover{background-color:#2e75b6;}
#skyblue ul.menu > li,#skyblue ul.menu > li:first-child,#skyblue ul.menu a.navlink,#skyblue ul.menu ul{border-color:#4b88c0;}
#skyblue .create-job-menu li a:hover,#skyblue .create-job-menu li a:focus,#skyblue .create-job-menu li.active a{background-color:#276cab;color:#fff;}
#skyblue .create-job-left-bar .sidebar-menu{border-top-color:#276cab;}
#skyblue .documents-block ul.resp-tabs-list li.resp-tab-active{border-bottom-color:#276cab;background:none;}
#skyblue .installation-title h5 > span{color:#276cab;}
#skyblue .Requirements-menu ul.navbar-nav{background-color:#276cab;}
#skyblue .Requirements-menu ul.navbar-nav > li > a:hover,#skyblue .newemail-modal ul.navbar-nav > li.open > a,#skyblue .btn-applied,#skyblue .btn-applied.collapsed:hover,#skyblue .btn-applied.collapsed:focus{background-color:#1b568b;}
#skyblue .Requirements-menu ul.navbar-nav > li{border-color:#4b88c0;}
#skyblue .find_job_leftpanel{border-top-color:#276cab;}

#skyblue .settlement-contain-box .Processing-time li.active, #skyblue .settlement-contain-box .Processing-time li:hover{background-color:#276cab;color:#fff;}
#skyblue .settlement-contain-box .Processing-time li.active .price{color:#fff;}
#skyblue .Processing-time .price{color:#276cab;}
#skyblue .text{color:#276cab;}
#skyblue .chart-title:after {background-color: #276cab;}

/********************** ADD 12-09-16 ****************************/
#skyblue .stc-amount-block ul li.active, #skyblue .stc-amount-block ul li:hover, #skyblue .stc-amount-block ul li:focus { background-color:#276cab;  }
#skyblue .stc-amount-block ul li .price {color:#276cab;}
#skyblue .live-stc-price .stc-amount-block ul li.active span.price {color: #276cab !important;}
#skyblue .color-text {color:#276cab;}
#skyblue .border-btn {border-color:#276cab; color:#276cab; }
#skyblue .border-btn:hover, #skyblue .border-btn.active {background-color:#276cab; }


#skyblue .account-manager-block .upload-profile .btn-file {background-color:#276cab;}

@media only screen and (max-width:992px){
    #skyblue #navigation{background-color:#2e75b6;}
    #skyblue ul.menu > li:first-child,#skyblue ul.menu a.navlink,#skyblue ul.menu ul{border-color:#4b88c0;}
}

@media screen and (max-width:767px){
    #skyblue .resp-tabs-container{margin-top:0px;}
    #skyblue .documents-block h2.resp-accordion{padding:10px 5px;background:none;border-color:#e7e7e7;color:#474747;}
    #skyblue .documents-inner-block .resp-tabs-container{border-top:0px;}
    #skyblue .documents-block h2.resp-tab-active{padding:10px 5px!important;background:none!important;border-bottom:1px solid #276cab!important;color:#474747;}
    #skyblue .documents-block .resp-arrow{display:none;}
}


/* yellow 
------------------------------------*/
#yellow.login-bg{background-image:url("../images/login-bg-yellow.jpg");background-repeat:no-repeat;background-size:cover;}
#yellow #header{background:rgba(0,0,0,0) url(../images/hed-yellow.jpg) repeat-x scroll 0 0;}
#yellow #header:before{background-image:url(../images/header-bg-yellow.jpg);}
#yellow #navigation{background-color:rgba(204,128,20,0.70);}
#yellow .message-collapse .panel-heading > a{border-color:#d99000;}
#yellow .paging ul li a.active,#yellow .paging ul li a.active:hover,#yellow .primary{background-color:#d99000;}
#yellow .primary:hover,#yellow .primary:focus{background-color:#ba720b;}
#yellow .paging a.current{background-color:#d99000;}
#yellow .send-msg-btn{background-color:#d99000;}
#yellow .send-msg-btn:hover,#blue .send-msg-btn:focus{background-color:#C69E4E;}
#yellow ul.menu li.hover a,#yellow ul.menu a:hover,#yellow ul.menu li.active a,#yellow ul.menu a.parent:hover,#yellow ul.menu li:hover a.parent,#yellow ul.menu li li a,#yellow .menu-toggle.active{background-color:#ba720b;color:#fff;}
#yellow ul.menu li li a:hover{background-color:#d4890f;}
#yellow ul.menu > li,#yellow ul.menu > li:first-child,#yellow ul.menu a.navlink,#yellow ul.menu ul{border-color:#e2a138;}
#yellow .chart-title:after {background-color: #d99000;}
/* create job 
------------------------------------*/
#yellow .create-job-menu li a:hover,#yellow .create-job-menu li a:focus,#yellow .create-job-menu li.active a{background-color:#d99000;color:#fff;}
#yellow .create-job-left-bar .sidebar-menu{border-top-color:#d99000;}
#yellow .documents-block ul.resp-tabs-list li.resp-tab-active{border-bottom-color:#d99000;background:none;}
#yellow .installation-title h5 > span{color:#d99000;}
#yellow .Requirements-menu ul.navbar-nav{background-color:#d99000;}
#yellow .Requirements-menu ul.navbar-nav > li > a:hover,#yellow .newemail-modal ul.navbar-nav > li.open > a,#yellow .btn-applied,#yellow .btn-applied.collapsed:hover,#yellow .btn-applied.collapsed:focus{background-color:#ba720b;}
#yellow .Requirements-menu ul.navbar-nav > li{border-color:#e2a138;}
#yellow .find_job_leftpanel{border-top-color:#d99000;}
#yellow .settlement-contain-box .Processing-time li.active .price{color:#fff;}
#yellow .settlement-contain-box .Processing-time li.active, #yellow .settlement-contain-box .Processing-time li:hover{background-color:#d99000;color:#fff;}
#yellow .Processing-time .price{color:#d99000;}
#yellow .text{color:#d99000;}


/********************** ADD 12-09-16 ****************************/
#yellow .stc-amount-block ul li.active, #yellow .stc-amount-block ul li:hover, #yellow .stc-amount-block ul li:focus { background-color:#d99000;  }
#yellow .stc-amount-block ul li .price {color:#d99000;}
#yellow .live-stc-price .stc-amount-block ul li.active span.price {color: #d99000 !important;}
#yellow .color-text {color:#d99000;}
#yellow .border-btn {border-color:#d99000; color:#d99000; }
#yellow .border-btn:hover, #yellow .border-btn.active {background-color:#d99000; }


#yellow .account-manager-block .upload-profile .btn-file {background-color:#d99000;}


@media only screen and (max-width:992px){
    #yellow #navigation{background-color:#d68a0f;}
    #yellow ul.menu > li:first-child,#yellow ul.menu a.navlink,#yellow ul.menu ul{border-color:#e2a138;}
}

@media screen and (max-width:767px){
    #yellow .resp-tabs-container{margin-top:0px;}
    #yellow .documents-block h2.resp-accordion{padding:10px 5px;background:none;border-color:#e7e7e7;color:#474747;}
    #yellow .documents-inner-block .resp-tabs-container{border-top:0px;}
    #yellow .documents-block h2.resp-tab-active{padding:10px 5px!important;background:none!important;border-bottom:1px solid #d99000!important;color:#474747;}
    #yellow .documents-block .resp-arrow{display:none;}
}


/* black 
------------------------------------*/
#black.login-bg{background-image:url("../images/login-bg-black.jpg");background-repeat:no-repeat;background-size:cover;}
#black #header{background:rgba(0,0,0,0) url(../images/hed-black.jpg) repeat-x scroll 0 0;}
#black #header:before{background-image:url(../images/header-bg-black.jpg);}
#black #navigation{background-color:rgba(43,43,43,0.70);}
#black .message-collapse .panel-heading > a{border-color:#2b2b2b;}
#black .paging ul li a.active,#black .paging ul li a.active:hover,#black .primary{background-color:#2b2b2b;}
#black .primary:hover,#black .primary:focus{background-color:#1a1a1a;}
#black .paging a.current{background-color:#2b2b2b;}
#black .send-msg-btn{background-color:#2b2b2b;}
#black .send-msg-btn:hover,#blue .send-msg-btn:focus{background-color:#757575;}
#black ul.menu li.hover a,#black ul.menu a:hover,#black ul.menu li.active a,#black ul.menu a.parent:hover,#black ul.menu li:hover a.parent,#black ul.menu li li a,#black .menu-toggle.active{background-color:#1a1a1a;color:#fff;}
#black ul.menu li li a:hover{background-color:#333333;}
#black ul.menu > li,#black ul.menu > li:first-child,#black ul.menu a.navlink,#black ul.menu ul{border-color:#666666;}
#black .create-job-menu li a:hover,#black .create-job-menu li a:focus,#black .create-job-menu li.active a{background-color:#2b2b2b;color:#fff;}
#black .create-job-left-bar .sidebar-menu{border-top-color:#2b2b2b;}
#black .documents-block ul.resp-tabs-list li.resp-tab-active{border-bottom-color:#2b2b2b;background:none;}
#black .installation-title h5 > span{color:#2b2b2b;}
#black .Requirements-menu ul.navbar-nav{background-color:#323232;}
#black .Requirements-menu ul.navbar-nav > li > a:hover,#black .newemail-modal ul.navbar-nav > li.open > a,#black .btn-applied,#black .btn-applied.collapsed:hover,#black .btn-applied.collapsed:focus{background-color:#1a1a1a;}
#black .Requirements-menu ul.navbar-nav > li{border-color:#666666;}
#black .find_job_leftpanel{border-top-color:#2b2b2b;}
#black .settlement-contain-box .Processing-time li.active .price{color:#fff;}
#black .settlement-contain-box .Processing-time li.active, #black .settlement-contain-box .Processing-time li:hover{background-color:#2b2b2b;color:#fff;}
#black .Processing-time .price{color:#2b2b2b;}
#black .text{color:#2b2b2b;}
#black .chart-title:after {background-color: #2b2b2b;}
/********************** ADD 12-09-16 ****************************/

#black .stc-amount-block ul li.active, #black .stc-amount-block ul li:hover, #black .stc-amount-block ul li:focus { background-color:#2b2b2b;  }
#black .stc-amount-block ul li .price {color:#2b2b2b;}
#black .live-stc-price .stc-amount-block ul li.active span.price {color: #2b2b2b !important;}
#black .color-text {color:#2b2b2b;}
#black .border-btn {border-color:#2b2b2b; color:#2b2b2b; }
#black .border-btn:hover, #black .border-btn.active {background-color:#2b2b2b; }

#black  .account-manager-block .upload-profile .btn-file {background-color:#2b2b2b;}
@media only screen and (max-width:992px){
    #black #navigation{background-color:#343434;}
    #black ul.menu > li:first-child,#black ul.menu a.navlink,#black ul.menu ul{border-color:#666666;}
}

@media screen and (max-width:767px){
    #black .resp-tabs-container{margin-top:0px;}
    #black .documents-block h2.resp-accordion{padding:10px 5px;background:none;border-color:#e7e7e7;color:#474747;}
    #black .documents-inner-block .resp-tabs-container{border-top:0px;}
    #black .documents-block h2.resp-tab-active{padding:10px 5px!important;background:none!important;border-bottom:1px solid #2b2b2b!important;color:#474747;}
    #black .documents-block .resp-arrow{display:none;}
}



