/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #b94a48 !important;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.loading {
    background-image: url("../images/loader.gif");
    background-repeat: no-repeat;
    background-position: 30px 41px;
    background-color: #00adef;
    height: 150px;
    overflow: hidden;
    width: 125px;
}

.loadingOverlay {
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000000;
    top: 0;
}

    .loadingOverlay img {
        position: absolute;
        top: 50%;
        left: 50%;
    }


/* Classes for Coverage in Shift */

.daygrid {
    background: #FFF;
}

    .daygrid th {
        background: #6d6e70;
        color: #FFF;
        font-weight: normal;
        font-family: 'OpenSansBold', arial;
        text-transform: uppercase;
        font-size: 12px;
    }

    .daygrid th, .daygrid td {
        border: 1px solid #ddd;
        text-align: center;
        width: 32px;
        font-size: 12px !important;
        padding: 5px 0 !important;
    }

        .daygrid th div {
            width: 32px;
        }

.dayStaff {
    width: 250px !important;
    text-align: center;
}

.daygrid .physicianNames {
    padding: 6px 10px 6px 25px !important;
}


.dayDPhoto {
    width: 29px;
    height: 29px;
    float: left;
}
/*.dayDName {text-align:left; font-size:13px; font-family: 'OpenSansRegular'; color:#333;}*/

.daygrid td.dayShiftBar {
    padding: 0px !important;
    text-align: center;
}

    .daygrid td.dayShiftBar td {
        border: none !important;
    }

.dayShiftTime {
    font-family: 'OpenSansBold', arial;
    font-weight: normal;
    text-align: center;
}







.schedule_btn {
    text-align: right;
}

    .schedule_btn a.primary {
        padding: inherit;
    }

    .schedule_btn .btn {
        height: 33px;
        line-height: 31px;
    }

#btnPrev, #btnNext {
    height: 33px;
    line-height: 30px;
}

.schedule_btn a.primary:hover, .schedule_btn a.primary:focus {
    color: #fff !important;
}

.schedule_btn a.default:hover, .schedule_btn a.default:focus {
    color: #333;
}

a.primary {
    margin: 0 !important;
}

.weekgrid th, .weekgrid td {
    vertical-align: top !important;
}

.weekgrid {
    background: #fff;
    margin-top: 15px;
    width: 100%;
}

    .weekgrid th {
        background: #888;
        color: #fff;
        font-weight: normal;
        font-family: 'OpenSansBold';
        text-transform: uppercase;
        font-size: 12px;
        padding: 6px 0 !important;
    }

    .weekgrid th, .weekgrid td { /*border:1px solid #ddd;*/
        text-align: center;
        border: 1px solid #dadada;
        /*padding:10px 0 !important;*/
        /*width:120px;*/ font-size: 12px !important;
    }
        /*.weekgrid td:not([class]){height:100px;}*/
        /*.weekgrid td:not([class]){position:relative;}*/

        .weekgrid th div {
            width: 120px;
        }

.weekStaff {
    width: 134px !important;
    text-align: center;
    margin: 0 auto;
}
/*.weekgrid .seNames{ padding:6px 10px 6px 10px !important; background-color:#f5f5f5;}*/


.weekDPhoto {
    width: 29px;
    height: 29px;
    background: url(../images/user.jpg) no-repeat;
    float: left;
}

.weekDName {
    margin-left: 40px;
    padding-top: 7px;
    text-align: left;
    font-family: 'OpenSansRegular';
}

.weekgrid td.weekShiftBar {
    padding: 0px !important;
    text-align: center;
}

    .weekgrid td.weekShiftBar td {
        border: none !important;
    }
/*.weekShiftTime { font-family: 'OpenSansSemibold'; font-weight:normal;  text-align:center; color:#fff;}*/


.schedule_top {
    overflow: hidden;
}




/** Monthgrid **/
.monthgrid th, .monthgrid td {
    vertical-align: top !important;
}
/*.monthgrid th, .monthgrid td{ vertical-align:middle !important; }*/
.monthgrid {
    background: #FFF;
    width: 100%;
    color: black;
    margin-top: 15px;
}

    .monthgrid th {
        background: #888;
        color: #fff;
        font-weight: normal;
        font-family: 'OpenSansBold';
        font-weight: normal;
        text-transform: uppercase;
        font-size: 12px;
        padding: 6px 0 !important;
        border: 1px solid #dadada;
    }

    .monthgrid th, .monthgrid td {
        text-align: center;
        border: 1px solid #dadada;
        width: 120px;
        font-size: 12px !important;
        width: 120px;
    }

    .monthgrid .datenumrow td {
        vertical-align: middle !important;
    }

    /*.monthgrid th .monthTitle { background:#6d6e70; color:#FFF; font-weight:normal; font-family: 'OpenSansBold', arial; font-weight:normal; text-transform:uppercase; font-size:12px; }*/
    .monthgrid th div {
        width: 120px;
    }

    .monthgrid td {
        border: 1px solid #ddd;
        font-size: 12px !important;
        width: 120px;
        height:30px; /*padding:4px;*/
    }

        .monthgrid td table {
            width: 100%;
        }

        .monthgrid td td {
            height: 35px;
        }

        .monthgrid td th {
            font-family: 'OpenSansRegular', arial;
            padding: 7px;
            font-size: 14px;
            font-weight: normal;
        }

.monthgreybg {
    background: #e7e8e9;
}

.weekDroppable {
    /*height:30px;*/
    position: relative !important;
}

.monthDroppable {
    /*height: 35px;*/
    position: relative !important;
}



.parentDropDiv {
    position: absolute !important;
    top: 0px;
    left: 0px;
}

.viewMoreClass {
    position: inherit !important;
}


















.greyCoverage {
    background: #d1d2d4 !important;
}

.whiteCoverage {
    width: 270px !important;
    padding: 10px 0 !important;
}

.pinkCoverage {
    background: #feadf7;
    padding: 10px 0 !important;
}

.orangeCoverage {
    background: #fcb040 !important;
}

.yellowShifts {
    background: #faf4d0;
    cursor: pointer;
}



.greyMonthTitle {
    background: #d1d2d4;
}

.pinkMonthTitle {
    background: #feadf7;
}

.orangeMonthTitle {
    background: #fcb040;
}

.weekShifts {
    cursor: pointer;
    /*border-top:1px solid #ddd;*/
    border: 1px solid;
    padding: 4px;
}

.switch-off {
    background: rgb(190, 186, 186) !important;
}

.dhc_center {
    margin: 0 auto;
    width: 300px;
}

@media (max-width: 992px) {
    .tbfix {
        overflow-x: auto !important;
    }
}

@media (min-width:768px) {
    .tbfix {
        overflow:visible !important;
    }
}

@media (max-width:767px) {

    .phy_schedule_d {
        display: none;
    }

    .dhc_center {
        margin: 0 auto;
        width: auto;
    }
}


.cus_datepicker {
    background: none;
    width: 100%;
    height: 38px;
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    outline: none;
    color: #99def9;
}

.positionrelative {
    position: relative;
    margin: 0 auto;
}

.dp {
    width: 165px;
    height: 38px;
    z-index: 1;
    position: absolute;
    left: 64px;
    top: 0;
}

.dp_doctor {
    width: 165px;
    height: 38px;
    z-index: 1;
    position: absolute;
    left: 434px;
    top: -37px;
}

.btn-custom {
    margin-right: 15px;
}

@media (max-width:767px) {
    .positionrelative {
        position: relative;
        margin: 0 auto;
        width: 280px;
    }

    .dp {
        width: 100%;
        left: 0;
    }

    .btn-custom {
        margin: 0 0 15px 0;
    }

    .dpicker .datepicker-dropdown.datepicker-orient-left::before {
    }

    .dpicker .datepicker-dropdown.datepicker-orient-left::after {
    }


    .weekgrid, .monthgrid {
        margin-top: 0px;
    }

    .table-responsive.tbfix {
        margin-top: 10px;
    }
}

.bootstrap-dialog.type-info .modal-header {
    background-color: #00ADEF !important;
}

.btn-info {
    color: #fff;
    background-color: #00ADEF;
    border-color: #00ADEF;
}

    .btn-info:hover {
        color: #fff;
        background-color: rgba(0, 172, 239, 0.88);
        border-color: rgba(0, 172, 239, 0.88);
    }

.rating-container .rating-stars {
    color: #00ADEF !important;
}

.uploadcheckbox {
    margin-top: -4px;
    vertical-align: 6px;
}

.er_box {
    background: rgba(255, 255, 255, 0.89);
    padding: 30px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    font-size: 18px;
}

.er_box2 {
    background: rgba(238, 238, 238, 0.77);
    padding: 16px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

.childWeekTable {
    width: 100%;
    border: none !important;
}

    .childWeekTable td {
        /*border:none !important;*/
        /*padding:3px;*/
    }

.weekJobs {
    cursor: pointer;
    /*border-top:1px solid #ddd;*/
    border: 1px solid #e5e5e5;
    padding: 3px;
    /*border-top:2px solid #1b954c;*/
    border-radius:3px;
    /*background-color:#7abe7a;*/
    /*new*/
    position: absolute !important;
    /*width:98.5%;*/
    margin:2px;
    /*max-height:26px;*/
    /*top:0px;
    left:0px;*/
}

.monthJobs {
    /*border-top:1px solid #ddd;*/
    border: 1px solid #e5e5e5;
    padding:3px;
    /*border-top:2px solid #1b954c;*/
    border-radius: 3px;
    /*margin: 3px;*/
    /*position: absolute !important;*/
    cursor: pointer;
    /*background-color:#7abe7a;*/

    /*new*/
    /*width: 96%;*/
    left: 0;
    right: 0;
    margin:2px auto;
}




.datenumrow {
    background-color: #e4e4e4;
}

.blueShifts {
    background: #66ccdf;
    cursor: pointer;
}

.yellowShifts {
    background: #f2bc2e;
    cursor: pointer;
}

.greenShifts {
    background: #76b976;
    cursor: pointer;
}

.orangeShifts {
    background: #f8895b;
    cursor: pointer;
}

.redmoreShift {
    background-color: #fff !important;
    border: 1px solid #dddddd !important;
    padding: 3px !important;
    border-radius: 3px !important;
    text-align: center !important;
    font-size: 12px !important;
    color: #30a9c0 !important;
    cursor: pointer;
}

    .redmoreShift .weekShiftTime {
        color: #30a9c0 !important;
    }

.job_calendar {
    overflow: hidden;
}

.find_job_leftpanel.active {
    margin-left: -360px;
}
.jtoggle.active {
    right: -41px;
}


@media screen and (max-width: 992px) {
    .find_job_leftpanel {
        width: 100%;
        margin-bottom: 20px;
        float: none;
    }

        .find_job_leftpanel.active {
            margin-left: 0;
        }

    .job_calendar.push {
        margin-left: 0;
    }
}

.parentDropDiv {
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
}

.childDropDiv {
    float: left !important;
}

.schedule_top .title {
    border-bottom: 0;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
    line-height: 32px;
    font-size: 18px;
    font-family: 'OpenSansSemibold', arial;
    font-weight: normal;
    padding-top: 3px;
}

/*---old css changes---*/
.weekgrid .seNames {
    padding: 6px 10px 6px 10px !important;
    background-color: #efefef;
}

.dayDName {
    text-align: left;
    font-size: 13px;
    font-family: 'OpenSansSemibold';
    color: #333;
}

.weekShiftTime {
    font-family: 'OpenSansSemibold';
    font-weight: normal;
    text-align: center;
    color: #666;
    overflow: hidden;
    /*text-overflow: ellipsis;
    white-space: nowrap;*/
    display:block;
    max-width:100%;
    font-size: 12px !important;
}
.view-job-detail {position:relative; padding-right:16px;}
.view-job-detail a {width:14px; height:14px; position:absolute; right:2px; top:3px;}

/*---recent css changes---*/
.blueShifts { /*background:#66ccdf;*/
    cursor: pointer;
    border-top: 3px solid #66ccdf;
    background-color: #f3f3f3;
}

.yellowShifts { /* background:#f2bc2e;*/
    cursor: pointer;
    border-top: 3px solid #f2bc2e;
    background-color: #f3f3f3;
}

.greenShifts { /*background:#76b976;*/
    cursor: pointer;
    border-top:2px solid #76b976;
    background-color: #f3f3f3;
}

.orangeShifts { /*background:#f8895b;*/
    cursor: pointer;
    border-top: 3px solid #f8895b;
    background-color: #f3f3f3;
}

.redmoreShift {
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
    font-size: 12px;
    margin: 5px;
}

.weekHeader {
    margin: 0 auto;
}


/*view More*/

.pop-viewmore {
    display: none;
    background-color: #f6f6f6;
    border: 2px solid #e3e3e4;
    box-shadow: 0 4px 4px #8c8c8c;
    position: absolute;
    z-index: 9;
}


.pop-close {
    background: url('../../images/delete.png') no-repeat;
    background-size: 24px auto;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    height:24px;
    width: 24px;
    right:-12px;
    top: -12px;
    z-index: 1;
}


