@model List<FormBot.Entity.DocumentSignatureRequest.JobDocumentMessage>

<ul>
    @if (Model.Any())
    {
        foreach (var item in Model)
        {
            <li><span class="Sender-Name">@item.FirstName @item.LastName
                    <span class="timestamp pull-right">
                        @item.CreatedOn.ToString("dd-MM-yy HH:mm", System.Globalization.CultureInfo.InvariantCulture)
                    </span>
                </span> <span class="Sender-Message">@item.Message</span></li>
        }
    }
    else
    {
        <li>No messages added.</li>
    }
</ul>