@model FormBot.Entity.PricingManager
@using FormBot.Helper;
@{
    ViewBag.Title = "Opti-Pay options";
    Layout = null;

}


@*<form class="form-block">
    <div class="container-fluid">

        <div class="alert alert-danger alert-dismissible" role="alert" id="popuperrorMsgRegion" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="option-box" style="margin-bottom: 10px;">
                        <label class="control-label">Allow for under or equal to(KW):</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox switch" id="KWswitch" checked>
                            <label class="onoffswitch-label" for="KWswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>

                    @Html.TextBoxFor(m => m.KWValue, new { id = "txtKWValue", @class = "form-control", @maxlength = 8, @tabindex = 1, @autofocus = "autofocus", onkeypress = "return isDecimal(event, 5, 2, this)" })
                    @Html.ValidationMessageFor(m => m.KWValue)
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <div class="option-box">
                        <label class="control-label">Allow Residential Job Claims(no GST)?</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox switch" id="NonCommercialJobSwitch" checked>
                            <label class="onoffswitch-label" for="NonCommercialJobSwitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <div class="option-box">
                        <label class="control-label">Allow Commercial job claims(+GST)?</label>
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox switch" id="CommercialJobSwitch">
                            <label class="onoffswitch-label" for="CommercialJobSwitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="form-group defaultFormBot tab_bottomrow">
            <input type="button" name="SavePricing" value="Save" class="primary save_ic" id="btnSaveParameters" tabindex="15">
        </div>
    </div>

</form>*@
