<div class="jumbotron">
    <h1>SPV</h1>
    <p class="lead">Greenbot SPV</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Verify Product Signature</h2>
        <p><a class="btn btn-default" href='@Url.Action("Verify", "Home",new { signType = 1})'>Verify Product Signature &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Verify Installation Signature</h2>
        <p><a class="btn btn-default" href='@Url.Action("Verify", "Home",new { signType = 2})'>Verify Installation Signature &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Generate Response</h2>
        <p><a class="btn btn-default" href='@Url.Action("ResponseGenerate", "Home")'>Generate Response&raquo;</a></p>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}