@model FormBot.Entity.CreateJob
@using FormBot.Helper;


    @for (int i = 0; i < Model.lstCustomDetails.Count; i++)
    {
        <div class="form-group col-sm-4">
            <p fieldid="@Model.lstCustomDetails[i].JobCustomFieldId">
                <strong>@Model.lstCustomDetails[i].FieldName : </strong>
            </p>
            @Html.TextAreaFor(m => m.lstCustomDetails[i].FieldValue, new { @class = "spanCustomFields", @readonly = "readonly", data_SeperatorId = Model.lstCustomDetails[i].SeparatorId, data_JobCustomFieldId = @Model.lstCustomDetails[i].JobCustomFieldId, @value = "txtCustomFieldValue(i)", style = "width:100%; border: 1px solid #d8dadd;", @rows = "3" })
        </div>
    }


