<!--start note and history section-->
<div class="details-block details-mag-0" id="JobHistorySection">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissible" role="alert" id="errorMsgRegionJobHistory" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
            <div class="alert alert-success alert-dismissible" role="alert" id="successMsgRegionJobHistory" style="display: none;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            </div>
        </div>
    </div>
    <div class="job-com-box" id="JobHistoryTabu" style="border:0px !important;box-shadow:initial!important">
        <div id="JobHistoryFilters">
            <form class="form-block">
                <div class="sub-title" style="margin-bottom:20px!important;border:0px!important">
                    <div class="row" style="margin-right:5px !important;margin-left:5px !important">
                        <p class="col-md-9">
                            Displaying
                            <b>
                                <select id="historyCategory" style="border:0px; outline:0px;color:black!important; width:50px;">
                                    <option value="0">All</option>
                                    <option value="1">General</option>
                                    <option value="2">Interaction</option>
                                    <option value="3">Statuses</option>
                                    <option value="4">Notifications</option>
                                    <option value="5">Invoicing</option>
                                    <option value="6">Documents</option>
                                    <option value="7">Scheduling</option>
                                    <option value="8">Signature</option>
                                </select>
                            </b>
                            by
                            <b>

                                <select id="filter-postvisibility" style="border:0px; outline:0px; width:70px;color:black"></select>
                            </b>

                            related to
                            <b>
                                <select id="relatedTofilter" class="" style="border:0px; outline:0px;color:black!important; width:50px;"></select>
                                <select id="width_tmp_select" style="display:none;">
                                    <option id="width_tmp_option"></option>
                                </select>
                            </b>
                            Deleted
                            <b>
                                <select id="IsDeletedJobNote" style="border:0px; outline:0px; color:black!important; width:105px;">
                                    <option value="3">Not Deleted</option>
                                    <option value="2">Deleted</option>
                                    <option value="1">All</option>
                                </select>
                            </b>
                            | <input class="important-note" type="checkbox" title="Starred Notes" id="FilterIsImportantNote" style="margin-top:0px!important; margin-right:5px;">
                            |  @*<button type="button" id="refreshJobHistory" style="font-size:20px; border:0px; background:none;">&#8635;</button>*@
                            <a href="#" id="refreshJobHistory" style="font-size:17px;color: #1d9f4e;" title="Refresh">
                                @*<i class="fa fa-refresh" style="font-size:24px;color: #1d9f4e;"></i>*@
                                <i class="glyphicon glyphicon-refresh" style="top:3px!important;"></i>
                            </a>

                        </p>
                        <div class="col-md-3" style="float: right!important;margin-top: -8px!important">
                            <input type="text" id="JobHistorySearch" class="form-control" placeholder="Search">

                        </div>
                    </div>
                </div>

            </form>
        </div>

        <div class="details-block details-mag-0">

            <div id="container">

                <div class="row" style="margin-bottom: 15px; height:300px; overflow-y:auto; " id="showfilteredhistory">
                    @*@Html.Action("ShowFilteredHistory", "Job",new { jobID  = Model.BasicDetails.JobID, categoryID = 0, order ="DESC" , fromDate = "", toDate ="", pageIndex = 1 })*@
                </div>

                <div id="bottom-panel">
                    <div id="drag" style="text-align:center;"><img src="~/Images/dragbar.png" /></div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--end notes and history section-->
<script>
    $("#refreshJobHistory").click(function (e) {
        SearchHistory();
    });

    $(document).ready(function () {
        BindNotesType();
        BindUserList();
        SearchHistory();
    });
</script>