
@{
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}
<style type="text/css">
    .lnkexpired {
        width: fit-content;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 22px;
        text-align: center;
    }
</style>
<div class="lnkexpired">
    <p>&nbsp;</p>
    <p>Dear User,</p>
    <p>&nbsp</p>
    <p>&nbsp</p>
    <p>Your signature link has expired. Please contact your solar company.</p>
</div>

