@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="/Scripts/pdf/pdf.js"></script>
<script>
    var closeButton = '<button type="button" class="close" onclick="$(this).parent().hide();" aria-hidden="true">&times;</button>';
</script>
@{
    Layout = null;
}
<div style="padding-top:10px;">
    
    
    <div class="container-fluid faq-block fix-width" style="max-width:1000px!important;border:none!important">
        <div class="alert alert-danger alert-dismissible" role="alert" id="errorMsgRegion1" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
        <div class="alert alert-success alert-dismissible" role="alert" id="successMsgRegion1" style="display: none">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
        @if (Request.QueryString["IsHistroy"] != "1")
        {
            <a style="margin: 4px 10px 0 0;" title="Save" id="btnSave" href="javascript:void(0);">
                <img src="~/images/savepdf.png" alt="">
            </a>
            <hr />
        }
        @Html.Partial("_Viewer")
    </div>
</div>