@model FormBot.Entity.Report
@{
    Layout = null;
}

<div class="row malti-list">
    <div class="col-sm-5 ">
        <div class="form-group">
            <div class="col-md-6 col-sm-6 " style="width:100%;padding:0;">
                @Html.ListBoxFor(m => m.LstOwnerAccountUser, new MultiSelectList(Model.LstOwnerAccountUser, "Value", "Text"), new { id = "LstOwnerAccountUser", @class = "form-control", style = "padding:0px;height: 400px;", @tabindex = 2 })
            </div>
        </div>
    </div>
    <div class=" col-sm-2 tra-btn">
        <div class="form-group">
            <a id="btnLtoROwner" href="javascript:void(0);" class="linkbutton">
                <input type="button" value=">>" class="btn btn-info primary" tabindex="3" id="btnLtoROwnerAcc" />
            </a>
            <a id="btnRtoLOwner" href="javascript:void(0);" class="linkbutton">
                <input type="button" value="<<" class="btn btn-info primary" tabindex="4" />
            </a>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-group">
            <div class="col-md-6 col-sm-6 custinput" style="width: 100%;padding: 0;">
                @Html.ListBoxFor(m => m.RECOwnerAccountAssignedUser, new MultiSelectList(Model.LstOwnerAccountAssignedUser, "Value", "Text"), new { id = "LstOwnerAccountAssignedUser", @class = "form-control", style = "padding:0px;height: 400px;", @tabindex = 5 })
                @Html.HiddenFor(m => m.hdnRECOwnerAccountAssignedUser, new { id = "hdnOwnerAccount" })
            </div>
        </div>
    </div>

</div>
<div class="form-group defaultFormBot tab_bottomrow">
    <input type="button" name="SaveMapping" value="Save" autofocus class="primary save_ic" id="btnOwnerAccount" tabindex="6">
    <input type="button" value="Clear" id="btnClearOwner" class="default reset_ic" tabindex="7">
</div>

@*<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery-1.11.0.min.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui-1.0.js"></script>*@

<script type="text/javascript">
    $(document).on("click", "#btnLtoROwner", function () {
        if (parseInt($('#OwnerAccountBit').val()) == 0) {
            $('#LstOwnerAccountUser option:selected').each(function () {
                $(this).remove().appendTo("#LstOwnerAccountAssignedUser");
            });
            $('#Available').html($('#LstOwnerAccountAssignedUser option').length);
        }
        else {
            var OwnerAcc = (($('#LstOwnerAccountUser option:selected').length + $('#LstOwnerAccountAssignedUser option').length) <= parseInt($('#OwnerAccountBit').val()));
            if (OwnerAcc) {
                var LstOwnerAcc = $('#LstOwnerAccountAssignedUser option').length < parseInt($('#OwnerAccountBit').val());
                if (LstOwnerAcc) {
                    $('#LstOwnerAccountUser option:selected').each(function () {
                        $(this).remove().appendTo("#LstOwnerAccountAssignedUser");
                    });
                    var max = $('#OwnerAccountBit').val();
                    $('#Available').html($('#LstOwnerAccountAssignedUser option').length + '/' + max);
                }
                if (($('#LstOwnerAccountAssignedUser option').length == parseInt($('#OwnerAccountBit').val()))) {
                    $('#btnLtoROwnerAcc').css('opacity', '0.5');
                    $('#btnLtoROwnerAcc').css('cursor', 'auto');
                }
                else {
                    $('#btnLtoROwnerAcc').css('opacity', '1');
                    $('#btnLtoROwnerAcc').css('cursor', 'poiter');
                }
            }
        }
    });

    $(document).on("click", "#btnRtoLOwner", function () {
        $('#LstOwnerAccountAssignedUser option:selected').each(function () {
            $(this).remove().appendTo("#LstOwnerAccountUser");
        });
        var max = $('#OwnerAccountBit').val();
        if (max > 0) {
            $('#Available').html($('#LstOwnerAccountAssignedUser option').length + '/' + max);
        } else {
            $('#Available').html($('#LstOwnerAccountAssignedUser option').length);
        }
        if (($('#LstOwnerAccountAssignedUser option').length < parseInt($('#OwnerAccountBit').val()))) {
            $('#btnLtoROwnerAcc').css('opacity', '1');
            $('#btnLtoROwnerAcc').css('cursor', 'poiter');
        }
        else {
            $('#btnLtoROwnerAcc').css('opacity', '0.5');
            $('#btnLtoROwnerAcc').css('cursor', 'auto');
        }
    });

    $(document).on("click", "#closeOwnerAccount", function () {
        $('#popupProof').modal('hide');
        $('#cntOwner').html($('#LstOwnerAccountAssignedUser option').length);
    });

    $(document).on("click", "#btnOwnerAccount", function () {
        var strAssignedAttendeeList = [];
        $('#LstOwnerAccountAssignedUser option').each(function (i) {
            strAssignedAttendeeList.push($(this).val().trim());
        });
        if ($('#minOwnerAccount').val() > 0) {
            document.getElementById('btnReport').style.pointerEvents = 'auto';
            $('#btnReport').css('opacity', '1');
            $("#errorMsgRegion").hide();
        }
        if ($('#minOwnerAccount').val() > 0 && $('#LstOwnerAccountAssignedUser option').length == 0) {
            document.getElementById('btnReport').style.pointerEvents = 'none';
            $('#btnReport').css('opacity', '0.5');

            $("#errorMsgRegion").removeClass("alert-success");
            $("#errorMsgRegion").addClass("alert-danger");
            $("#errorMsgRegion").html(closeButton + "Selected owner accounts lower than report allows.");
            $("#errorMsgRegion").show();
        }
        if (($('#LstOwnerAccountAssignedUser option').length <= parseInt($('#OwnerAccountBit').val()))) {
            document.getElementById('btnReport').style.pointerEvents = 'auto';
            $('#btnReport').css('opacity', '1');
            $("#errorMsgRegion").hide();
        }
        if ($('#minOwnerAccount').val() == 1 && $('#LstOwnerAccountAssignedUser option').length == 0) {
            document.getElementById('btnReport').style.pointerEvents = 'none';
            $('#btnReport').css('opacity', '0.5');
        }
        var fromDate = new Date(ConvertDateToTick($("#txtFromDate").val(), dateFormat));
        var toDate = new Date(ConvertDateToTick($("#txtToDate").val(), dateFormat));
        if (fromDate > toDate) {
            $("#errorMsgRegion").removeClass("alert-success");
            $("#errorMsgRegion").addClass("alert-danger");
            $("#errorMsgRegion").html(closeButton + "Start date must be before end date.");
            $("#errorMsgRegion").show();
            document.getElementById('btnReport').style.pointerEvents = 'none';
            $('#btnReport').css('opacity', '0.5');
        }
        $("#hdnOwnerAccount").val(strAssignedAttendeeList);
        $('#cntOwner').html($('#LstOwnerAccountAssignedUser option').length);
        $('#popupProof').modal('hide');
    });

    $(document).on("click", "#btnClearOwner", function () {
        $('#LstOwnerAccountAssignedUser option').each(function () {
            $(this).remove().appendTo("#LstOwnerAccountUser");
        });
        $("#hdnOwnerAccount").val('');
        var max = $('#OwnerAccountBit').val();
        if (max > 0) {
            $('#Available').html($('#LstOwnerAccountAssignedUser option').length + '/' + max);
        } else {
            $('#Available').html($('#LstOwnerAccountAssignedUser option').length);
        }
        if (($('#LstOwnerAccountAssignedUser option').length < parseInt($('#OwnerAccountBit').val()))) {
            $('#btnLtoROwnerAcc').css('opacity', '1');
            $('#btnLtoROwnerAcc').css('cursor', 'poiter');
        }
        else {
            $('#btnLtoROwnerAcc').css('opacity', '0.5');
            $('#btnLtoROwnerAcc').css('cursor', 'auto');
        }
    });

    $(document).on("click", "#closeOwnerAccount", function () {
        var strAssignedAttendeeList = [];
        $('#LstOwnerAccountAssignedUser option').each(function (i) {
            strAssignedAttendeeList.push($(this).val().trim());
        });
        if ($('#minOwnerAccount').val() > 0) {
            document.getElementById('btnReport').style.pointerEvents = 'auto';
            $('#btnReport').css('opacity', '1');
            $("#errorMsgRegion").hide();
        }
        if ($('#minOwnerAccount').val() > 0 && $('#LstOwnerAccountAssignedUser option').length == 0) {
            document.getElementById('btnReport').style.pointerEvents = 'none';
            $('#btnReport').css('opacity', '0.5');

            $("#errorMsgRegion").removeClass("alert-success");
            $("#errorMsgRegion").addClass("alert-danger");
            $("#errorMsgRegion").html(closeButton + "Selected owner accounts lower than report allows.");
            $("#errorMsgRegion").show();
        }
        if (($('#LstOwnerAccountAssignedUser option').length <= parseInt($('#OwnerAccountBit').val()))) {
            document.getElementById('btnReport').style.pointerEvents = 'auto';
            $('#btnReport').css('opacity', '1');
            $("#errorMsgRegion").hide();
        }
        if ($('#minOwnerAccount').val() == 1 && $('#LstOwnerAccountAssignedUser option').length == 0) {
            document.getElementById('btnReport').style.pointerEvents = 'none';
            $('#btnReport').css('opacity', '0.5');
        }
        var fromDate = new Date(ConvertDateToTick($("#txtFromDate").val(), dateFormat));
        var toDate = new Date(ConvertDateToTick($("#txtToDate").val(), dateFormat));
        if (fromDate > toDate) {
            $("#errorMsgRegion").removeClass("alert-success");
            $("#errorMsgRegion").addClass("alert-danger");
            $("#errorMsgRegion").html(closeButton + "Start date must be before end date.");
            $("#errorMsgRegion").show();
            document.getElementById('btnReport').style.pointerEvents = 'none';
            $('#btnReport').css('opacity', '0.5');
        }
        $("#hdnOwnerAccount").val(strAssignedAttendeeList);
        $('#cntOwner').html($('#LstOwnerAccountAssignedUser option').length);
        $('#popupProof').modal('hide');
    });

</script>
<style>
    .malti-list .tra-btn {
        margin-top: 140px;
    }
</style>