@{
    //ViewBag.Title = "Signature Request";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}
<link href="~/Content/style.css" rel="stylesheet" />
<div class="thank-you-page">
    <h1>Thanks for signing!</h1>
    @*<p class="lead">
        <strong>Please check your email</strong> for further instructions on how to complete your account setup.<br />
        Having trouble?
    </p>*@
    <a class="link-btn" href="http://www.greenbot.com.au/" role="button">Continue to homepage</a>
</div>