<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<add key="LogEnabled" value="true" />
		<add key="DebugEnabled" value="true" />
		<!--SET DURATION IN MINUTES, THAT AT WHAT INTERVAL SERVICE SHOULD CHECK FROM DATABSE AND UPDATE PRIORITY OF JOBS-->
		<add key="Duration" value="10" />
		<!--SET DAYS ON THE BASIS OF THIS PRIORITY IS CHECKED-->
		<add key="UrgentJobDay" value="10" />
		<!--SET TIME AT WHICH SERVICE RUN DAILY IN FORMAT "12:30" AND SHOULD BE IN 24 HOURS FORMAT-->
		<add key="TimeToRun" value="04:00" />
		<add key="RECDataLimitDate" value="2014-01-01" />
		<add key="RECDataServiceTimeToRun" value="01:00" />
		<add key="RECAutoUploadServiceTimeToRun" value="15:00" />
		<add key="RECDeleteFolderTimeToRun" value="16:00" />
		<add key="UpdateEntityNameTimeToRun" value="16:42" />
		<add key="ABNLink" value="https://abr.business.gov.au/abrxmlsearch/AbrXmlSearch.asmx/SearchByABNv201408" />
		<add key="ABNSearch" value="https://abr.business.gov.au/SearchByAbn.aspx?abn=" />
		<add key="RECUploadUrl" value="https://rec-registry.gov.au/" />
		<add key="RECDataURL" value="https://rec-registry.gov.au/rec-registry/app/api/public-register/certificate-actions?date=" />
		<add key="RECLoginURL" value="https://rec-registry.gov.au/rec-registry/cer_security_check" />
		<add key="RECSearchByPVDCodeURL" value="https://rec-registry.gov.au/rec-registry/app/smallunits/sgu/search" />
		<add key="RECSearchBySWHCodeURL" value="https://rec-registry.gov.au/rec-registry/app/smallunits/swh/search" />
		<add key="RECFailureDetailSearchURL" value="https://rec-registry.gov.au/rec-registry/app/smallunits/sgu/details?registrationCode=" />

		<add key="RECSearchByPVDCode2" value="https://www.rec-registry.gov.au/rec-registry/app/smallunits/view-my-small-generation-unit-details?" />
		<add key="RECUserName" value="hus@emergingenergy.com.au" />
		<add key="RECPassword" value="rXTQ6zZr8RPZXWE!" />
		<add key="BatchRecUploadCount" value="50" />
		<add key="RECAuthURL" value="https://www.rec-registry.gov.au/rec-registry/app/auth" />
		<add key="RECRegisterURL" value="https://www.rec-registry.gov.au/rec-registry/app/smallunits/register-bulk-small-generation-unit" />
		<add key="RECSearchURL" value="https://www.rec-registry.gov.au/rec-registry/app/smallunits/small-generation-unit-search" />
		<add key="FetchResellerNewMailUrl" value="https://localhost:56199/Email/Email/FetchResellerNewMail">
		</add>
		<add key="ProofUploadFolder" value="D:\Projects\FormBot\SourceCode\FormBot01082017\FormBot.Main\">
		</add>
		<add key="RDLCReportFormatFile" value="D:\Projects\FormBot\SourceCode\FormBot01082017\PriorityWindowService\Reports\InvoiceSTC.rdlc">
		</add>
		<add key="ABNSearch" value="https://abr.business.gov.au/SearchByAbn.aspx?abn=">
		</add>
		<!--Reseller Configuration keys-->
		<!--<add key="FetchResellerNewMailUrl" value="http://localhost:56199/Email/Email/FetchResellerNewMail"></add>-->
		<!--<add key="TimeIntervalInMinutes_ResellerEmail" value="60"/>-->
		<!--End-->
		<add key="SolarCompanyGSTTimeToRun" value="18:38" />
		<add key="JobOwnerGSTTimeToRun" value="18:35" />
		<add key="UpdateCacheTimeToRun" value="15" />
		<add key="UpdateCacheOnDayOfWeek" value="Saturday" />
		<add key="TimeIntervalInMinutes_ResellerEmail" value="3" />
		<!--<add key="FetchResellerNewMailUrl" value="https://login.greenbot.com.au/Email/Email/FetchResellerNewMail"></add>
    <add key="ProofUploadFolder" value="\\fbfiles.file.core.windows.net\formbot"></add>
    <add key="RDLCReportFormatFile" value="C:\inetpub\wwwroot\FormbotWindowService\Reports\Invoice1.rdlc"></add>-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="SettlementCutOffTime" value="16:00" />
		<add key="OnApprovalSettlementCutOffTime" value="15:00" />

		<!--START SMTP Details-->
		<add key="MailFrom" value="vishalptatva@gmail.com" />
		<add key="SMTPHost" value="smtp.gmail.com" />
		<add key="SMTPUserName" value="vishalptatva@gmail.com" />
		<add key="SMTPPassword" value="tatva1234" />
		<add key="SMTPPort" value="587" />
		<add key="IsSMTPEnableSsl" value="true" />
		<add key="TimeIntervalInSecond_SyncVEEcScheduleActivityPremiseFromVEECPortal" value="2000" />
		<add key="TimeIntervalInHour_ResetPassword" value="09:48" />
		<add key="urlClearCache" value="https://login.greenbot.com.au/Job/CacheKeyStatus?key=&amp;IsRemove=true&amp;resellerid={0}" />
		<add key="urlCreateCache" value="http://localhost:56199/Service/SetCacheDataForSTCSubmissionFromSolarCompanyId?resellerid={0}&amp;onlySTCAndPeakPay={1}" />
		<add key="urlCreateCacheForStcJobId" value="http://localhost:56199/Service/UpdateCacheForSTCSubmissionForWindowService?StcJobDetailsId={0}&amp;JobId={1}" />
		<add key="urlCreateCacheForStcJobIdForstcIds" value="http://localhost:56199/Service/UpdateCacheForSTCIds?StcJobDetailsIds={0}" />
		<add key="urlUpdatePeakPayCacheForStcJobId" value="http://localhost:56199/Service/UpdateCacheForPeakPayForWindowService?stcJobdetailIds={0}" />

		<add key="ProductVerificationXMLPath" value="D:\Projects\FormBot\SourceCode\FormBot01082017\FormBot.Main\StaticTemplate\SPV\product.xml" />
		<add key="ServerCertificate" value="D:\Projects\FormBot\SourceCode\FormBot01082017\FormBot.Main\StaticTemplate\SPV\server.pfx" />
		<add key="SPVProductVerificationTimer" value="3000" />
		<add key="TimeIntervalInSecond_UploadToREC" value="5000" />
		<add key="TimeIntervalInMilliSecond_SentMail" value="60000" />
		<add key="UrgentJobsTimeToRun" value="18:45" />
		<add key="SetUrgentSTCStatusJobDay" value="120" />
		<add key="RECHomeAllElementURL" value="https://rec-registry.gov.au/rec-registry/app/home-secure" />
		<add key="RECAuthUserName" value="hus@emergingenergy.com.au" />
		<add key="RECAuthPwd" value="DBZGotenks1!!" />
		<add key="cpanelLoginUrl" value="https://gator3408.hostgator.com:2096" />
		<add key="cpanelUserName" value="mfa@shahomes.com.au" />
		<add key="cpanelPwd" value="Tatva@123!$$" />

		<!-- Graph Api Send Mail Credentials -->
		<add key="TenetId" value="e13866bb-d5ff-412f-bbd1-b2879fc0befa" />
		<add key="ClientId" value="b21480ba-8a46-485b-ad90-cffe0cc81377" />
		<add key="ClientSecret" value="WBm8Q~X2Of.WWpSUEvTuKLnE~Csf6VMabrsQZdos" />
		<add key="SenderMailId" value="notifications@greenbot.com.au" />

	</appSettings>
	<connectionStrings>
		<!--<add name="DefaultConnection" connectionString="data source= localhost;initial catalog=FormBot_CR;Trusted_Connection=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="data source= 192.168.0.14\sql2017;initial catalog=FormBot_CR;user id=badal1;password=badal1;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="data source=192.168.0.11;initial catalog=FormBot_CR;user id=badal;password=badal;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
		<add name="DefaultConnection" connectionString="data source=formbot.database.windows.net,1433;initial catalog=formbot_db_2022-03-30T05-36Z;user id=formbothus;password=Formbot1234567;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
		<!--<add name="DefaultConnection" connectionString="data source=formbot.database.windows.net,1433;initial catalog=formbotStaging_db;user id=formbothus;password=Formbot1234567;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="data source=formbot.database.windows.net,1433;initial catalog=formbot_db;user id=formbothus;password=Formbot1234567;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
		<!--<add name="DefaultConnection" connectionString="data source=PCI239;initial catalog=WEBMail;user id=sa;password=tatva123;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<!--<system.net>
    <defaultProxy>
      <proxy
        usesystemdefault="True"
        proxyaddress="http://192.168.0.251:8080"
        bypassonlocal="True"   />
    </defaultProxy>
  </system.net>-->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Abstractions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.22.0.0" newVersion="6.22.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.5" newVersion="6.0.0.5" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.46.0.0" newVersion="4.46.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.25.0.0" newVersion="1.25.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>
