.wordwrap {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline{
    margin-left:0px; margin-right:10px;
}
.input-validation-error {
    border: 1px solid #b94a48 !important;
}

.dataTables_paginate span span { display:none !important;}

.grid-bottom{ background:none !important; }

.cursorDefault{
    cursor:default !important;
}

.subject span.subtext {    
    color: #999;
    font-size: 13px;
    vertical-align: -4px;
}
.removeleftspac{ padding-left:0px; }
.topbord{ border-top:1px solid #ddd; height:15px; }



@media screen and (max-width:767px) {
    .removeleftspac {
        padding-left: 15px;
    }
}

label.error {
        color: #b94a48;
        font-weight: 100;
    }

.cursorPointer{
    cursor:pointer !important;
}
.status-block{
    display:block;
}
.message-box .search_ic {
    background-position: 6px 9px;
}

.sendRequest_ic {
        background-image: url(../images/send-request-wh.png) !important;
        background-repeat: no-repeat;
        background-position: 6px 9px;
        padding: 0px 10px 0px 28px !important;
    }
.removeRequest_ic {
        background-image: url(../images/send-request-wh.png) !important;
        background-repeat: no-repeat;
        background-position: 6px 9px;
        padding: 0px 10px 0px 28px !important;
    }

.id-block-li-marginRight
{
    margin-right:230px;
    word-wrap:break-word;
}

@media screen and (max-width:767px) {
    .id-block-li-marginRight
    {
        margin-right:230px;
        word-wrap:break-word;
    }
}




.job-history .history-listing > li.green_bul:after {  background-color:#14bb6f !important;}
.job-history .history-listing > li.orange_bul:after {  background-color:orange !important;}
.job-history .history-listing > li.red_bul:after {  background-color:red !important;}
.job-history .history-listing > li.grey_bul:after {  background-color:grey !important;}


.green_bul{color:#14bb6f !important;}
.orange_bul{color:orange !important;}
.red_bul{color:red !important;}
.grey_bul {color:grey !important;}

.chkboxlist .checkbox{ margin-top:0px !important; margin-bottom:15px !important; }
.chkboxlist .checkbox label{ font-family: 'OpenSansRegular'; color:#555; }

.tblDoc{ width:100%; margin-bottom:10px; table-layout:fixed;}
.tblDoc td{ padding:5px; border-bottom:1px solid #ddd;}
.dcl_title{  -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word; overflow:hidden; }
 .subtitle {
        border-left: 1px solid #dadada;
        color: #666666;
        font-size: 16px;
        margin-left: 10px;
        padding: 2px 10px;
    }
.field-validation-error {
    color: #b94a48;
}


/*30-09-2016*/
.title2{ display:table; width:100%; table-layout:fixed; }
.title2 h1 { display:table-cell; white-space: nowrap; padding-right:10px; padding-top:0px; vertical-align:top; }
.title2 .sub1{display:table-cell; border-left:1px solid #ddd; font-size:16px; padding:0 0 0 10px !important;  vertical-align:middle; }
.title2 span{text-overflow:ellipsis; display:block; overflow:hidden;  white-space: nowrap; }
.title2 .t-btn{display:table-cell; text-align:right; white-space: nowrap;}


/*.fdb-list li{ width:20%; float:left; display:block;}*/
/*.fdb-list li{ width:16%; float:left; display:block;}*/
.fdb-list li{ float:left; display:block;}
/*.fdb-labelspace .stage_title{ width:380px !important; }*/
.fdb-labelspace .stage_title{ width:250px !important; }
/*.fdb-labelspace .filters-row{ padding-left:400px !important; }*/
.co-name{ font-size:16px; color:#222; }
.last-lin{ font-size:12px; padding:0 0 5px 0; color:#888; }
.co-phone{ color:#4a9dd0; display:inline-block;}
.co-email{ color:#4a9dd0; display:inline-block; padding-right:10px;}

.daNewInst{width:16%}
.dsres{width:15.5%}
.dsunderR{width:15%}
.dacomIssue{width:17.5%}
.daReqAutho{width:20.5%}
.daCERFail{width:15%}

@media screen and (max-width:1200px) {
    .fdb-labelspace {
        overflow: hidden;
    }

        .fdb-labelspace .stage_title {
            width: 100% !important;
            position: relative !important;
            display: block !important;
            padding: 0 0 10px 0 !important;
            margin: 0 !important;
        }

        .fdb-labelspace .filters-row {
            padding-left: 0 !important;
        }

    .fdb-list li {
        width: 33%;
        float: left;
        display: block;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:1200px){
    .fds-status{
        float: left !important;
    }
}

/*30-09-2016*/
/*.title > h1 {max-width:85%;
}
.title > h1 > span{text-overflow:ellipsis; max-width:80%; display:inline-block; overflow:hidden;     white-space: nowrap; vertical-align:top;}
.fdb-list li{ width:20%; float:left; display:block;}
.fdb-labelspace .stage_title{ width:380px !important; }
.fdb-labelspace .filters-row{ padding-left:400px !important; }
.co-name{ font-size:16px; color:#222; }
.last-lin{ font-size:12px; padding:0 0 5px 0; color:#888; }
.co-phone{ color:#4a9dd0; display:inline-block;}
.co-email{ color:#4a9dd0; display:inline-block; padding-right:10px;}

@media screen and (max-width:1200px) {
.fdb-labelspace{ overflow:hidden; }
.fdb-labelspace .stage_title{ width:100% !important; position:relative !important; display:block !important; padding:0 0 10px 0 !important; margin:0 !important; }
.fdb-labelspace .filters-row{ padding-left:0 !important; }
.fdb-list li{ width:33%; float:left; display:block; margin-bottom:5px;}

}*/


.ver-text{ text-align: right; display:inline-block; line-height: 35px;}
.botpad{ margin-bottom:13px !important; vertical-align:top; }

@media screen and (max-width:992px) {
    .ver-text {
        text-align: left;
        display: block;
        line-height: 35px;
    }
    
}

.ui-autocomplete{
        z-index: 50 !important;
    }

.stc-status .modal-header .close { margin-top:16px !important; }
.modal-header .close { margin-right: 0px !important; margin-top: 5px; }

/*29-03-2017*/

.reGenerate-ic { background-image: url(../images/re-generate.png) !important; background-repeat: no-repeat; padding: 0px 10px 0px 28px !important; }

/*27-03-2017-----------------*/
.modal-header-title {border-bottom: 1px solid #e5e5e5;padding-bottom:10px; margin-bottom:15px;}
.modal-close-btn {position:absolute; top:10px; right:15px; z-index:9;}
@media screen and (max-width:1199px) {
    .border-right-popup {
        padding-bottom:15px;
        margin-bottom: 30px;
          border-bottom:  1px solid #CFCFCF;
    }
}
@media screen and (min-width:1200px) {
  .border-right-popup {
        border-right:  1px solid #CFCFCF;
    }

  }
.linkableSCA {position:relative; padding-right:30px;}
    .linkableSCA .infoSTC {position:absolute;top:0px; bottom:0px; right:5px; background:url(../Images/ic-info.png) no-repeat center;cursor:default;
    }


/* job Details 13-04-2017
--------------------------------------------------------------------------------------------- */
.reference-box {margin-bottom: 30px;clear: both; background-color: #f8f8f8; border: 1px solid #e6e6e6; padding:15px 150px 15px 15px; position: relative;}
.reference-box p strong {color:#373737;margin-bottom:10px; display:block;}
.reference-box p {color: #717171; }
.reference-box .box {background-color:#fff;  width:140px; position: absolute; right:0px; top: 0px; bottom:0px;} 

.job-details .documents-inner-block {padding:15px 10px; min-height:80px;}
.details-box li {margin-bottom:20px;display:table;}
.details-box li:last-child {margin-bottom:0px;}
.details-box p, .details-box li span {color:#373737; font-size:14px; font-weight:normal; padding:0 10px; text-align:left; vertical-align: top; display:table-cell; }
.details-box li span.label {color: #8c9397; font-size:14px; font-weight:normal; width: 180px; }

.job-details .map {margin-bottom:20px;}
.job-details .map iframe {min-height: 420px;}


.download-hed {display:table; width:100%;}
.download-hed h4, .download-box {display:table-cell; }
.download-btn {font-size:13px; font-weight:normal; margin-left:25px; margin-right:0px; padding-left:0px; padding-right:0px;float:right;
}
.uploadJobALlSign .browse:hover, .uploadJobALlSign .browse:focus {background-image: url(../images/browse-icon.png); background-color:transparent;}
.uploadJobALlSign .delete:not(.disDelete):hover, .uploadJobALlSign .delete:not(.disDelete):focus {background-image: url(../images/delete-icon.png); background-color:transparent;}
.uploadJobALlSign .delete{vertical-align: middle;}

.PVDInstaller .signechar-box {max-height:150px; overflow:hidden; margin-top:0px;}
.signechar-box img {height:100%; width:auto; margin:auto;}

.signature-block .save_ic, .signature-block .reset_ic {background-position:center;}


.newScreenPreapprovalConnection .form-horizontal {margin-top:30px;} 

.newScreenPreapprovalConnection  .documents {min-height:560px;}

.signature a {padding:5px;}

.view-signature .control-label{display:block;}
.view-signature .signechar-box {width:100%;height:100px; overflow:hidden;margin-top:0px;}

.populate-signature li {position:relative; padding-left:30px; margin-bottom:10px; color: #2E2E2E;}
.populate-signature li .checkbox{position:absolute; left:0px; top:0px;}


.alert-info {color: #31708f;background-color: #f3f6f8; border:none;border-radius: 0;}

.top-scroll {position:fixed; z-index:99; right:15px; bottom:15px; width:70px; height:70px; background-color:transparent; border:0px !important; box-shadow:none !important;}
.top-scroll img {width:100%; height:auto;}
.top-scroll:focus, .top-scroll:hover {opacity:0.7; border:0px !important; box-shadow:none !important; outline: none;}

.bor-none {border:0px !important;}

.STC-block .bor-right-left {border-right:1px solid #e4e4e4;border-left:1px solid #e4e4e4;  }
.sub-title.STC-sub-title {text-transform:uppercase; margin-bottom: 0;}
.sub-title.STC-sub-title h4 {display:inline-block; margin-right:10px;}

.STC-summary {padding-top:15px; padding-left:40px; background-position:8px 8px; background-repeat:no-repeat;}
.STC-summary.lock {background-image:url(../Images/lock.png);}
.STC-summary.unlock{background-image:url(../Images/unlock.png);}
.STC-summary h3 {font-size: 18px;color: #222222; margin-bottom:10px;font-family: 'OpenSansBold';}
.STC-summary p {margin-bottom:5px;font-family: 'OpenSansSemibold', arial;font-weight: normal;}
.color-b{color: #222222;}
.STC-summary strong {color: #222222;}

.STC-summary-date{padding:10px; }
.STC-summary-date p {color: #222222; font-size:12px; margin-bottom:5px;}


.faq-block p{
    text-align :justify !important;
}
.faq-block label {
    padding-left:0px !important;
    padding-right:0px !important;
}
#drpSignatureBy{
    width:95% !important;
}

.faq-block table {margin-bottom:20px;}
.faq-block table tr td {padding:10px 0;}
.faq-block b, .faq-block strong {color: #181818;}

.faq-block .title {line-height:normal; }
.faq-block .title span {margin-top:5px; display:block; font-size:0.8em;}

.title-hed {border-bottom: 1px solid #e0e0e0;}
.title-hed  .title {font-weight:bold; border:0px; margin-bottom:0px; padding-bottom:0px;}
.title-hed table {margin-bottom:0px; padding-bottom:0px;}
.title-hed .had-logo {max-width:170px;}

.termstable {margin-top:30px;}
.termstable li {margin-bottom:15px; display:table; width:100%;}
.termstable li > span {display:table-cell;}
.termstable li .lblTerm {padding-right:10px; color: #181818; text-transform:uppercase; font-weight:700; width:auto;     white-space: nowrap;}
#termsTable .inputvalue { border-bottom: 1px solid black; width:100%;}