.k-filter-row > th:first-child, .k-grid tbody td:first-child, .k-grid tfoot td:first-child, .k-grid-header th.k-header:first-child, .k-grid-content tr td {
    border-left-width: 0px;
}


.k-block, .k-widget, .k-input, .k-textbox, .k-group, .k-content, .k-header, .k-filter-row > th, .k-editable-area, .k-separator, .k-textbox > input, .k-autocomplete, .k-dropdown-wrap, .k-group-footer td, .k-grid-footer, .k-footer-template td, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-grid-header, .k-grid-header-wrap, .k-grid-header-locked, .k-grid-footer-locked, .k-grid-content-locked, .k-grid td, .k-grid td.k-state-selected, .k-grid-footer-wrap, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-refresh, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link, .k-panelbar .k-panel, .k-panelbar .k-content, .k-treemap-tile, .k-slider-track, .k-splitbar, .k-dropzone-active, .k-tiles, .k-tooltip, .k-upload-files, .k-popup.k-align .k-list .k-item:last-child,
.k-header, .k-grid-header-wrap, .k-grid .k-grouping-header, .k-grid-header, .k-pager-wrap, .k-pager-wrap .k-textbox, .k-pager-wrap .k-link, .k-gantt-toolbar .k-state-default, .k-grouping-row td, .k-group-footer td, .k-grid-footer td {
    border-color: #dcdcdc;
}
.k-block, .k-draghandle, .k-inline-block, .k-widget, div.k-grid-footer, div.k-grid-header {
    box-shadow: none;
    border: 0px;
}

.k-grid-header th.k-header {
    border-top-width: 1px;
}

.k-pager-numbers .k-link {
    color: #b3b3b3;
    border: 1px solid transparent;
}

    .k-pager-numbers .k-link:hover {
        background-color: #fff;
        border: 1px solid transparent;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
    }

.k-pager-wrap .k-pager-numbers .k-state-selected, .k-pager-numbers .k-state-selected {
    color: #000;
    background-color: #fff;
    margin-top: 0px;
    padding-top: 0px;
    border: 1px solid transparent;
}

.k-dropdown .k-state-default {
    background-color: #fff;
}

.k-grid tr:hover {
    background-color: #f6f6f6;
}

.k-grid-header .k-header .k-link, .k-grid-header .k-header, .k-grid-header .k-link, .k-grid-header .k-link:link, .k-pager-info, .k-scheduler-header, .k-scheduler-agendaview .k-scheduler-datecolumn {
    color: #272727;
}
.k-filter-row th, .k-grid-header th.k-header {
    font-weight:400;
}

.k-grid-content table tr td, .k-grid-content-locked table tr td {
    color: #8a8a8a;
}

.k-list > .k-state-selected.k-state-focused {
    background-color: #f6f6f6;
    color: #000;
}

.k-filter-help-text, .k-filter-menu .k-textbox, .k-filter-menu .k-widget {
    margin: 0 0 0.49em;
}

.k-calendar .k-footer .k-nav-today, .k-popup .k-primary, .k-edit-form-container .k-primary {
    color: #0dc156;
}

    .k-calendar .k-footer .k-nav-today:hover {
        color: rgba(0, 0, 0, 0.2);
    }

.k-calendar td.k-state-focused .k-link {
    box-shadow: inset 0 0 0 1px #f0f0f0;
}

.k-checkbox:focus + .k-checkbox-label:hover:before {
    border-color: #3b3b3b !important;
}

.k-checkbox:checked:focus + .k-checkbox-label:after, .k-checkbox:checked + .k-checkbox-label:focus:after, .k-checkbox:checked:active + .k-checkbox-label:after, .k-checkbox:checked + .k-checkbox-label:active:after,
.k-checkbox:active + .k-checkbox-label:after, .k-checkbox + .k-checkbox-label:active:after {
    box-shadow: 0px 0px 0 9px rgba(72, 222, 132, 0.2);
}
.k-checkbox:checked + .k-checkbox-label:active:after, .k-checkbox:checked + .k-checkbox-label:focus:after, .k-checkbox:checked:active + .k-checkbox-label:after, .k-checkbox:checked:focus + .k-checkbox-label:after,
.k-checkbox:focus + .k-checkbox-label:after, .k-checkbox:focus + .k-checkbox-label:after, .k-checkbox:focus + .k-checkbox-label:after {
    box-shadow: 0px 0px 0 9px rgba(59, 59, 59, 0.2);
}


.k-filter-menu-container .k-checkbox:checked + .k-checkbox-label:active:after, .k-filter-menu-container .k-checkbox:checked + .k-checkbox-label:focus:after,
.k-filter-menu-container .k-checkbox:checked:active + .k-checkbox-label:after, .k-filter-menu-container .k-checkbox:checked:focus + .k-checkbox-label:after,
.k-filter-menu-container .k-checkbox:focus + .k-checkbox-label:after, .k-filter-menu-container .k-checkbox:focus + .k-checkbox-label:after,
.k-filter-menu-container .k-checkbox:focus + .k-checkbox-label:after {
    box-shadow: -1px -1px 0 9px rgba(59, 59, 59, 0.2);
}

.k-multicheck-wrap > li {
    padding: 10px;
    display: block;
}

.k-checkbox-label:before {
    font-size: 13px;
 
}

.k-checkbox-label, .k-checkbox-wrapper, .k-radio-label {
    line-height: 15px;
}

    /*.k-checkbox + .k-checkbox-label:after, .k-checkbox-label:before, .k-checkbox + .k-checkbox-label:after, .k-checkbox + .k-checkbox-label:after, .k-checkbox + .k-checkbox-label:after, .k-checkbox-label:before, .k-checkbox + .k-checkbox-label:after, .k-checkbox + .k-checkbox-label:after {
        width: 14px;
        height: 14px;
    }*/

.k-checkbox-label:after, .k-checkbox-label:before {box-sizing: border-box; line-height:15px;}

ul.k-multicheck-wrap > li .k-checkbox-label, ul.k-multicheck-wrap > li .k-radio-label {
    vertical-align: middle;
}
ul.k-multicheck-wrap > li .k-checkbox-label {
    margin-bottom: 0px;
    font-size: 13px;
    font-family: OpenSansRegular;
}

.k-filter-menu .k-filter-selected-items {
    font-size: 13px;
    font-family: OpenSansSemibold;
}

.k-grid-header, .k-grid-header .k-header, .k-pager-wrap, .k-pager-numbers .k-state-selected, .k-grid-footer, .k-grid-footer td, .km-pane-wrapper .k-grid-header .k-header {
    background-color: #f6f6f6;
}

.k-multicheck-wrap > li:hover {
    background-color: #f8f8f8;
}

.k-multicheck-wrap .k-checkbox-label {
    margin-bottom: 0px;
}

.k-multicheck-wrap div label input[type=checkbox] {
    position: absolute;
}


.k-button:focus, .k-button:focus:hover, .k-button.k-state-focused, .k-button.k-state-focused.k-state-disabled, .k-state-disabled .k-button.k-state-focused,
.k-button:focus, .k-button:focus:hover, .k-button.k-state-focused, .k-button.k-state-focused.k-state-disabled, .k-state-disabled .k-button.k-state-focused,
.k-primary:focus, .k-primary:focus:hover, .k-primary.k-state-focused, .k-primary.k-state-focused.k-state-disabled, .k-state-disabled .k-primary.k-state-focused {
    box-shadow: none;
    border-color: transparent;
}
.k-state-active, .k-state-active:hover, .k-state-active, .k-state-active:hover {
    background: transparent;
}

.kendo-grid table tr td > .k-checkbox-label:before, .kendo-grid table thead tr th > .k-checkbox-label:before {
    top: 1px !important;
    left: 1px !important;
}

.k-grid td {vertical-align: top;}
.k-grid td .k-checkbox-label {display: block;margin-top:2px;}


    .k-grid th, .k-grid td {
        font-size: 13px;
    }
.k-filter-menu .k-primary{
    float:none !important;
}

.k-calendar .k-today .k-link {
    color: #1b954c;
    box-shadow: inset 0 0 0 1px #1b954c;
}

.k-calendar > .k-header {
    border-color: #e6e6e6;
    color: #fff;
    background-color: #1b954c;
    background-image: none;
}

    .k-calendar > .k-header .k-link.k-state-hover {
        background-color: #14773c;
    }

.k-calendar td.k-state-selected .k-link {
    border-color: #1b954c;
    color: #fff !important;
    background-color: #1b954c;
    background-image: none;
}

.k-datepicker {
    border: 1px solid #d8dadd;
}

    .k-datepicker .form-control {
        padding: 0px;
        border: 0px;
    }

.k-list-optionlabel {
    padding: 1px 11px !important;
    min-height: 2.143em;
    line-height: 2.143em;
}

