@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SPV</h1>
    <p class="lead">SPV - For reading documentation for MIS and for other requirements, APP and portal flows effected.Please click below</p>
    <p><a href="https://trello.com/c/ORdj3Guo/45-spv-read-documentation-for-mis-and-also-for-requirements-app-and-portal-flows-effected" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Product Signature</h2>
        <p><a class="btn btn-default" href='@Url.Action("Create", "Home",new { signType = 1})'>Generate Product Signature &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Installation Signature</h2>
        <p><a class="btn btn-default" href='@Url.Action("Create", "Home",new { signType = 2})'>Generate Installation Signature &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>REC Signature</h2>
        <p><a class="btn btn-default" href='@Url.Action("Create", "Home",new { signType = 3})'>Generate REC Signature &raquo;</a></p>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}